---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/blueprints?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"fb0a5dd0c47c3be5ce2be7b9b06a737cf653e89f8c9f863ac9d16361"'
      Last-Modified:
      - Sun, 22 Feb 2026 16:03:46 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 481c55c3-24b2-456b-8d6f-298256bf6f51
      X-Pages:
      - '1'
      X-Ratelimit-Group:
      - char-industry
      X-Ratelimit-Limit:
      - 600/15m
      X-Ratelimit-Remaining:
      - '597'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"item_id":1003026148920,"location_flag":"AssetSafety","location_id":60013867,"material_efficiency":10,"quantity":-1,"runs":-1,"time_efficiency":20,"type_id":1152},{"item_id":1012854613186,"location_flag":"AssetSafety","location_id":60013867,"material_efficiency":10,"quantity":-1,"runs":-1,"time_efficiency":20,"type_id":3994},{"item_id":1032671938930,"location_flag":"Hangar","location_id":60002173,"material_efficiency":10,"quantity":-1,"runs":-1,"time_efficiency":20,"type_id":806},{"item_id":1032674962321,"location_flag":"Hangar","location_id":60002173,"material_efficiency":10,"quantity":-1,"runs":-1,"time_efficiency":20,"type_id":805},{"item_id":103[...]
