---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/characters/1337512245/blueprints/?datasource=tranquility&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"74531321b3771e91c010ab02a13d94cc64abb47bd6915c2610edbe32"'
      Last-Modified:
      - Tue, 11 Sep 2018 19:45:02 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '4'
      X-Esi-Request-Id:
      - 85c9c81f-52b0-4f62-93bd-4b42e8e22185
      X-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"item_id":716338097,"location_flag":"Hangar","location_id":1027847409779,"material_efficiency":10,"quantity":-2,"runs":300,"time_efficiency":0,"type_id":1010},{"item_id":1567646211,"location_flag":"Hangar","location_id":1027847409779,"material_efficiency":10,"quantity":-2,"runs":300,"time_efficiency":20,"type_id":12275},{"item_id":1003026148920,"location_flag":"Hangar","location_id":1027847409779,"material_efficiency":10,"quantity":-1,"runs":-1,"time_efficiency":20,"type_id":1152},{"item_id":1012854613186,"location_flag":"Hangar","location_id":1027847409779,"material_efficiency":10,"quantity":-1,"runs":-1,"time_efficiency":20,"type_id":3994}]'
  recorded_at: Tue, 11 Sep 2018 19:45:56 GMT
recorded_with: VCR 4.0.0
