---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/fw/leaderboards/characters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - bf587d24-efea-4513-9ac0-e11e1b08483f
      X-Ratelimit-Group:
      - factional-warfare
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '134'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"kills":{"active_total":[{"amount":15922,"character_id":95299451},{"amount":13480,"character_id":1230873801},{"amount":12187,"character_id":1392757657},{"amount":12044,"character_id":187568404},{"amount":9197,"character_id":90204495},{"amount":8711,"character_id":91251672},{"amount":8607,"character_id":92172285},{"amount":7731,"character_id":467842482},{"amount":7650,"character_id":1186576736},{"amount":6683,"character_id":835035454},{"amount":6423,"character_id":583637272},{"amount":6270,"character_id":1816417415},{"amount":5982,"character_id":29976[...]
