---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/dogma/attributes/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"eb02b32cba3ed2b28639d4d552243949671a18d2b8aca54f4271cfbb"
      Last-Modified:
      - Wed, 11 Mar 2026 11:03:14 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '17'
      X-Esi-Request-Id:
      - 25d978dd-d838-4852-9863-66db9e02e602
    body:
      encoding: UTF-8
      string: '{"attribute_id":2,"default_value":0.0,"description":"Boolean to store
        status of online effect","display_name":"","high_is_good":true,"name":"isOnline","stackable":true}'
  recorded_at: Thu, 12 Mar 2026 21:09:43 GMT
recorded_with: VCR 6.4.0
