---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/dogma/attributes/2/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"acc1e563574a55f79ebe4a2a99845dd6c28f4e412e11fd084b8485fd"
      Last-Modified:
      - Wed, 13 Feb 2019 11:08:59 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '19'
      X-Esi-Request-Id:
      - 196bf841-54bf-4955-a005-703506a92935
    body:
      encoding: UTF-8
      string: '{"attribute_id":2,"default_value":0.0,"description":"Boolean to store
        status of online effect","display_name":"","high_is_good":true,"name":"isOnline","stackable":true}'
  recorded_at: Thu, 14 Feb 2019 09:37:41 GMT
recorded_with: VCR 4.0.0
