---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/dogma/attributes/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '44'
      X-Esi-Request-Id:
      - 0acd5dad-3818-42f9-84c2-c7a439b132f6
    body:
      encoding: UTF-8
      string: '{"attribute_id":2,"default_value":0.0,"description":"Boolean to store
        status of online effect","display_name":"","high_is_good":true,"name":"isOnline","stackable":true}'
  recorded_at: Mon, 28 Sep 2026 15:10:17 GMT
recorded_with: VCR 6.4.0
