---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/skyhooks/raidable
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - W/"3e1ee818122c2a604e983b9deed07ec04f7bcbac1ac6999624a01bea55025874"
      Last-Modified:
      - Sun, 27 Sep 2026 22:34:58 GMT
      X-Compatibility-Date:
      - '2026-05-19'
      X-Esi-Cache-Status:
      - HIT
      X-Ratelimit-Group:
      - activity
      X-Ratelimit-Limit:
      - 30/15m
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"skyhooks":[{"planet_id":40281991,"solar_system_id":30004455,"theft_vulnerability":{"start":"2026-09-27T20:35:29Z","end":"2026-09-27T22:35:29Z"}},{"planet_id":40305733,"solar_system_id":30004825,"theft_vulnerability":{"start":"2026-09-27T20:35:48Z","end":"2026-09-27T22:35:48Z"}},{"planet_id":40234988,"solar_system_id":30003710,"theft_vulnerability":{"start":"2026-09-27T20:36:30Z","end":"2026-09-27T22:36:30Z"}},{"planet_id":40130222,"solar_system_id":30002041,"theft_vulnerability":{"start":"2026-09-27T20:39:04Z","end":"2026-09-27T22:39:04Z"}},{"planet_id":40116899,"solar_system_id":30001826,"theft_vulnerability":{"[...]
