---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/sovereignty/campaigns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"6b26b65881048d00336b8df23ad39108857d04e964301f9edb815222"'
      Last-Modified:
      - Sun, 27 Sep 2026 22:13:39 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 255af0d7-bc41-4ff3-a053-b1d7cd980601
      X-Ratelimit-Group:
      - sovereignty
      X-Ratelimit-Limit:
      - 600/15m
      X-Ratelimit-Remaining:
      - '594'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"attackers_score":0.4,"campaign_id":112209,"constellation_id":20000618,"defender_id":99009287,"defender_score":0.6,"event_type":"ihub_defense","solar_system_id":30004228,"start_time":"2026-09-28T09:46:24Z","structure_id":1055170539463},{"attackers_score":0.4,"campaign_id":112210,"constellation_id":20000618,"defender_id":99009287,"defender_score":0.6,"event_type":"ihub_defense","solar_system_id":30004227,"start_time":"2026-09-28T13:13:10Z","structure_id":1054946041709},{"attackers_score":0.4,"campaign_id":112211,"constellation_id":20000618,"defender_id":99009287,"defender_score":0.6,"event_type":"ihub_defense","solar_system_id":30004225,"start_time":"2026-09-28T13:41:14Z","structure_id":1051366105004},{"attackers_score":0.4,"campaign_id":112212,"constellation_id":20000420,"defender_id":99008788,"defender_score":0.6,"event_type":"ihub_defense","solar_system_id":30002861,"start_time":"2026-09-29T05:39:32Z","structure_id":1055504744761},{"attackers_score":0.4,"campaign_id":112213,"constellation_id":20000417,"defender_id":99008788,"defender_score":0.6,"event_type":"ihub_defense","solar_system_id":30002841,"start_time":"2026-09-29T06:06:09Z","structure_id":1054807704455},{"attackers_score":0.4,"campaign_id":112214,"constellation_id":20000758,"defender_id":99012328,"defender_score":0.6,"event_type":"ihub_defense","solar_system_id":30005181,"start_time":"2026-09-29T17:51:19Z","structure_id":1053374031610}]'
  recorded_at: Sun, 27 Sep 2026 22:13:40 GMT
recorded_with: VCR 6.4.0
