---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/sovereignty/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - W/"a2cac5f2e35e3a659450ca7dd77f07526760041064428d80ec5fc1e1c0e106a3"
      Last-Modified:
      - Sun, 27 Sep 2026 22:10:13 GMT
      X-Compatibility-Date:
      - '2026-05-19'
      X-Esi-Cache-Status:
      - HIT
      X-Ratelimit-Group:
      - sovereignty
      X-Ratelimit-Limit:
      - 600/15m
      X-Ratelimit-Remaining:
      - '592'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"solar_systems":[{"solar_system_id":30000001,"claim":{"faction":{"faction_id":500007}}},{"solar_system_id":30000002,"claim":{"faction":{"faction_id":500007}}},{"solar_system_id":30000003,"claim":{"faction":{"faction_id":500007}}},{"solar_system_id":30000004,"claim":{"faction":{"faction_id":500007}}},{"solar_system_id":30000005,"claim":{"faction":{"faction_id":500007}}},{"solar_system_id":30000006,"claim":{"faction":{"faction_id":500007}}},{"solar_system_id":30000007,"claim":{"faction":{"faction_id":500007}}},{"solar_system_id":30000008,"claim":{"faction":{"faction_id":500[...]
