---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/markets/10000002/history?type_id=34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"5fe60e03aa031801814c44ac4c96f82f9f573a98df36fe55683669ef"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '14'
      X-Esi-Request-Id:
      - 84f7d83d-936e-4344-9b35-ee3b955c57f7
    body:
      encoding: UTF-8
      string: '[{"average":3.85,"date":"2025-08-01","highest":3.85,"lowest":3.84,"order_count":2374,"volume":3089041705},{"average":3.89,"date":"2025-08-02","highest":3.91,"lowest":3.85,"order_count":2987,"volume":6720069409},{"average":3.88,"date":"2025-08-03","highest":3.9,"lowest":3.83,"order_count":3113,"volume":4265252641},{"average":3.9,"date":"2025-08-04","highest":3.9,"lowest":3.89,"order_count":1876,"volume":3577466604},{"average":3.81,"date":"2025-08-05","highest":3.85,"lowest":3.78,"order_count":2602,"volume":5103743439},{"average":3.87,"date":"2025-08-06","highest":3.89,"lowest":3.72,"order[...]
