---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/markets/10000002/orders?order_type=sell&page=1&type_id=34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"dfb21a26ae74e7f7ce56ddd9679c14404303efdf936b6278719e5c4c"'
      Last-Modified:
      - Sun, 27 Sep 2026 22:24:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 3747e76b-faa5-4766-8ba1-0da69879d8f3
      X-Pages:
      - '1'
      X-Ratelimit-Group:
      - market-order
      X-Ratelimit-Limit:
      - 12000/15m
      X-Ratelimit-Remaining:
      - '11996'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"duration":90,"is_buy_order":false,"issued":"2026-09-16T08:41:39Z","location_id":60005458,"min_volume":1,"order_id":7423712969,"price":4.0,"range":"region","system_id":30000128,"type_id":34,"volume_remain":8860466,"volume_total":8860537},{"duration":90,"is_buy_order":false,"issued":"2026-09-21T06:11:59Z","location_id":60004237,"min_volume":1,"order_id":7427266957,"price":5.0,"range":"region","system_id":30000129,"type_id":34,"volume_remain":189026,"volume_total":200000},{"duration":90,"is_buy_order":false,"issued":"2026-07-06T16:39:28Z","location_id":60003109,"min_volume":1,"order_id":7305136710,"price":5.01,"range":"region","system_id":30000134,"type_id":34,"volume_remain":42208917,"volume_total":43022148},{"duration":[...]
