---
http_interactions:
- request:
    method: post
    uri: https://esi.evetech.net/route/30000142/30002187
    body:
      encoding: UTF-8
      string: '{"avoid_systems":[30005196],"connections":[],"preference":"Shorter","security_penalty":50}'
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Compatibility-Date:
      - '2025-09-30'
      X-Esi-Cache-Status:
      - DYNAMIC
      X-Ratelimit-Group:
      - routes
      X-Ratelimit-Limit:
      - 3600/15m
      X-Ratelimit-Remaining:
      - '3586'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"route":[30000142,30000144,30002642,30002643,30002644,30002691,30002718,30002719,30002720,30002050,30002051,30002060,30002066,30002099,30002517,30002537,30002542,30003068,30003067,30003065,30003520,30003521,30003522,30002187]}

        '
  recorded_at: Sat, 14 Feb 2026 18:25:04 GMT
recorded_with: VCR 6.4.0
