---
http_interactions:
- request:
    method: post
    uri: https://esi.evetech.net/route/30000142/30002187
    body:
      encoding: UTF-8
      string: '{"avoid_systems":[],"connections":[{"from":30000142,"to":30002187}],"preference":"Shorter","security_penalty":50}'
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Compatibility-Date:
      - '2025-09-30'
      X-Esi-Cache-Status:
      - DYNAMIC
      X-Ratelimit-Group:
      - routes
      X-Ratelimit-Limit:
      - 3600/15m
      X-Ratelimit-Remaining:
      - '3592'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"route":[30000142,30002187]}

        '
  recorded_at: Sat, 14 Feb 2026 16:20:54 GMT
recorded_with: VCR 6.4.0
