---
http_interactions:
- request:
    method: post
    uri: https://esi.evetech.net/route/30000142/30002187
    body:
      encoding: UTF-8
      string: '{"avoid_systems":[],"connections":[],"preference":"Safer","security_penalty":50}'
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Compatibility-Date:
      - '2025-09-30'
      X-Ratelimit-Group:
      - routes
      X-Ratelimit-Limit:
      - 3600/15m
      X-Ratelimit-Remaining:
      - '3594'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"route":[30000142,30000144,30000139,30002802,30002801,30002803,30002768,30002765,30002764,30002761,30004972,30004970,30002633,30002634,30002641,30002681,30002682,30002048,30002049,30002053,30002543,30002545,30002568,30002529,30002530,30002507,30002509,30000004,30000005,30000002,30002973,30002969,30002974,30002972,30002971,30002970,30002963,30002964,30002991,30002994,30003545,30003548,30003525,30003523,30003522,30002187]}

        '
  recorded_at: Mon, 28 Sep 2026 15:10:18 GMT
recorded_with: VCR 6.4.0
