---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/characters/1337512245/bookmarks/?datasource=tranquility&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"5504d2536398ddcba1f87b67d21dbcbbab9600658cf4de463e9c7473"'
      Last-Modified:
      - Tue, 11 Sep 2018 14:03:53 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '8'
      X-Esi-Request-Id:
      - 4a61ee09-47f0-4c58-90c3-68d5abc72793
      X-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"bookmark_id":726640415,"created":"2012-07-09T22:38:31Z","creator_id":1337512245,"item":{"item_id":30003496,"type_id":5},"label":"Nakri*
        (Solar System*)\t","location_id":20000510,"notes":""},{"bookmark_id":727242866,"coordinates":{"x":447165359445.7058,"y":59530007688.29015,"z":581407092220.535},"created":"2012-07-13T08:46:13Z","creator_id":1337512245,"label":"lut\t","location_id":30003498,"notes":""},{"bookmark_id":728022968,"coordinates":{"x":88197483952.16617,"y":85826161675.68933,"z":938923721960.1907},"created":"2012-07-17T04:28:01Z","creator_id":1337512245,"label":"\u041e\u0441\u0442\u043e\u0432
        Centatis Phantasm* (\u041e\u0441\u0442\u043e\u0432*)\t","location_id":30003498,"notes":""},{"bookmark_id":7280263[...]
