---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/insurance/prices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"f0c36562d287f23f17f56fad0dc670330af4be659e9d298ff85156ca"'
      Last-Modified:
      - Sun, 27 Sep 2026 22:11:59 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 8a01ee40-945e-47e5-9d2d-021fd37a3c12
      X-Ratelimit-Group:
      - insurance
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '146'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"levels":[{"cost":0.0,"name":"Basic","payout":0.0},{"cost":0.0,"name":"Standard","payout":0.0},{"cost":0.0,"name":"Bronze","payout":0.0},{"cost":0.0,"name":"Silver","payout":0.0},{"cost":0.0,"name":"Gold","payout":0.0},{"cost":0.0,"name":"Platinum","payout":0.0}],"type_id":34475},{"levels":[{"cost":143449.2,"name":"Basic","payout":1434492.0},{"cost":286898.4,"name":"Standard","payout":1721390.4},{"cost":430347.6,"name":"Bronze","payout":2008288.7999999998},{"cost":573796.8,"name":"Silver","payout":2295187.2},{"cost":717246.0,"name":"Gold","payout":2582085.6},{"cost":860695.2,"name":"Platinum","payout":2868984.0}],"type_id":34828},{"levels":[{"cost":1736212.0,"name":"Basic","payout":17362120.0},{"cost":3472424.0,"name":"Standard","payout":20834544.0},{"cost":520863[...]
