---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/contracts/public/10000002?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"275fac071d91e158f25d2b637d37dcc301e2033ff27efade868e2e1b"'
      Last-Modified:
      - Sun, 27 Sep 2026 22:07:33 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '39'
      X-Esi-Request-Id:
      - db2f0fda-199f-413b-b843-1b2ea3272945
      X-Pages:
      - '34'
    body:
      encoding: UTF-8
      string: '[{"collateral":0.0,"contract_id":235554523,"date_expired":"2026-09-27T22:07:39Z","date_issued":"2026-08-30T22:07:39Z","days_to_complete":0,"end_location_id":60003760,"issuer_corporation_id":1000167,"issuer_id":96249938,"price":100000000.0,"reward":0.0,"start_location_id":60003760,"title":"","type":"item_exchange","volume":0.01},{"collateral":0.0,"contract_id":235554525,"date_expired":"2026-09-27T22:07:49Z","date_issued":"2026-08-30T22:07:49Z","days_to_complete":0,"end_location_id":60003760,"for_corporation":true,"issuer_corporation_id":98684025,"issuer_id":2118700918,"price":239500000.0,"reward":0.0,"start_location_id":60003760,"title":"5%
        ME 10% TE 1 run","type":"item_exchange","volume":0.01},{"collateral":0.0,"contract_id":235554547,"date_expired":"2026-09-27T22:08:54Z","date_issued":"2026-08-30T22:08:54Z","days_to_complete":0,"end_location_id":60003760,"for_corporation":true,"issuer_corporation_id":98684025,"issuer_id":2118700918,"price":163000000.0,"reward":0.0,"start_location_id":60003[...]
