---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/groups/450/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"7261e48bc37b9e927b4f7be5b3f5c0bdc44a4b4a3e32c4b86f4dbe8f"
      Last-Modified:
      - Wed, 03 Oct 2018 11:15:20 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - 1f72023a-c174-4524-a554-58dcc8eae4e6
    body:
      encoding: UTF-8
      string: '{"category_id":25,"group_id":450,"name":"Arkonor","published":true,"types":[22,17425,17426,26852,28367,28385,28387,28625,46678,46691]}'
  recorded_at: Wed, 03 Oct 2018 21:49:26 GMT
recorded_with: VCR 4.0.0
