---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/killmails/81646519/8f1450fca8ce97be9b10e106a1257088407ef387/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"4e09692ec8bf793011f2dc457a0b0224ec7b86f0f448b2fbcaca0160"'
      Last-Modified:
      - Sun, 08 Mar 2020 19:51:12 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '48'
      X-Esi-Request-Id:
      - ee9ce57b-7517-440f-b1e2-d7a1967ce2f6
    body:
      encoding: UTF-8
      string: '{"attackers":[{"damage_done":15918,"faction_id":500021,"final_blow":true,"security_status":0.0,"ship_type_id":3748}],"killmail_id":81646519,"killmail_time":"2020-02-14T23:25:07Z","solar_system_id":30003493,"victim":{"character_id":1337512245,"corporation_id":98134807,"damage_taken":15918,"items":[{"flag":19,"item_type_id":12058,"quantity_destroyed":1,"singleton":0}],"position":{"x":-1100269478625.7827,"y":-629102351286.0769,"z":229500515736.35583},"ship_type_id":24698}}'
  recorded_at: Sun, 08 Mar 2020 19:51:12 GMT
recorded_with: VCR 5.1.0
