---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/killmails/81646519/8f1450fca8ce97be9b10e106a1257088407ef387
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"4e09692ec8bf793011f2dc457a0b0224ec7b86f0f448b2fbcaca0160"'
      Last-Modified:
      - Mon, 16 Mar 2026 18:01:23 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 938d9abb-bcdf-4ff4-bd4d-4140ef222cc6
      X-Ratelimit-Group:
      - killmail
      X-Ratelimit-Limit:
      - 3600/15m
      X-Ratelimit-Remaining:
      - '3596'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"attackers":[{"damage_done":15918,"faction_id":500021,"final_blow":true,"security_status":0.0,"ship_type_id":3748}],"killmail_id":81646519,"killmail_time":"2020-02-14T23:25:07Z","solar_system_id":30003493,"victim":{"character_id":1337512245,"corporation_id":98134807,"damage_taken":15918,"items":[{"flag":19,"item_type_id":12058,"quantity_destroyed":1,"singleton":0}],"position":{"x":-1100269478625.7827,"y":-629102351286.0769,"z":229500515736.35583},"ship_type_id":24698}}'
  recorded_at: Mon, 16 Mar 2026 18:08:23 GMT
recorded_with: VCR 6.4.0
