---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/dogma/effects/6717/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"acc1e563574a55f79ebe4a2a99845dd6c28f4e412e11fd084b8485fd"'
      Last-Modified:
      - Wed, 13 Feb 2019 11:08:59 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '28'
      X-Esi-Request-Id:
      - bbf43275-2359-456d-b0f6-fa876217e0c2
    body:
      encoding: UTF-8
      string: '{"description":"Automatically generated effect","display_name":"","effect_category":0,"effect_id":6717,"modifiers":[{"domain":"shipID","func":"LocationRequiredSkillModifier","modified_attribute_id":73,"modifying_attribute_id":2458,"operator":6},{"domain":"shipID","func":"LocationRequiredSkillModifier","modified_attribute_id":73,"modifying_attribute_id":2458,"operator":6},{"domain":"shipID","func":"LocationRequiredSkillModifier","modified_attribute_id":6,"modifying_attribute_id":2458,"operator":6},{"domain":"shipID","func":"LocationRequiredSkillModifier","modified_attribute_id":6,"modifying_attribute_id":2458,"operator":6}],"name":"roleBonusIceOreMiningDurationCap","post_expression":19291,"pre_expression":19290}'
  recorded_at: Thu, 14 Feb 2019 09:43:31 GMT
recorded_with: VCR 4.0.0
