---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/dogma/effects/6717
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"'
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '43'
      X-Esi-Request-Id:
      - daa6755c-37cd-4ec9-a7f7-5fcb67a76818
    body:
      encoding: UTF-8
      string: '{"description":"Automatically generated effect","display_name":"","effect_category":0,"effect_id":6717,"modifiers":[{"domain":"shipID","func":"LocationRequiredSkillModifier","modified_attribute_id":73,"modifying_attribute_id":2458,"operator":6},{"domain":"shipID","func":"LocationRequiredSkillModifier","modified_attribute_id":73,"modifying_attribute_id":2458,"operator":6},{"domain":"shipID","func":"LocationRequiredSkillModifier","modified_attribute_id":6,"modifying_attribute_id":2458,"operator":6},{"domain":"shipID","func":"LocationRequiredSkillModifier","modified_attribute_id":6,"modifying_attribute_id":2458,"operator":6}],"name":"roleBonusIceOreMiningDurationCap"}'
  recorded_at: Mon, 28 Sep 2026 15:10:17 GMT
recorded_with: VCR 6.4.0
