---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/characters/1337512245/wallet/transactions/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"55d0fbe8b408d6a76dab70c0a709d4e7c5dd58d4e0b7bd785549e268"'
      Last-Modified:
      - Sun, 08 Mar 2020 22:45:12 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '48'
      X-Esi-Request-Id:
      - 0a106596-f766-4193-aa8d-f758170bd274
    body:
      encoding: UTF-8
      string: '[{"client_id":2116253203,"date":"2020-03-08T11:49:16Z","is_buy":true,"is_personal":true,"journal_ref_id":17740411474,"location_id":60008494,"quantity":1,"transaction_id":5296927639,"type_id":3538,"unit_price":99887.79},{"client_id":2114029688,"date":"2020-03-07T22:57:15Z","is_buy":true,"is_personal":true,"journal_ref_id":17738618574,"location_id":60008170,"quantity":1,"transaction_id":5296583660,"type_id":2293,"unit_price":65000.0},{"client_id":91664925,"date":"2020-03-07T22:44:06Z","is_buy":true,"is_personal":true,"journal_ref_id":17738582824,"location_id":60008494,"quantity":1,"transaction_id":5296576405,"type_id":2605,"unit_price":492157.99},{"client_id":95790004,"date":"2020-03-07T22:42:19Z","is_[...]
