---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/types/192
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - 4737c8dc-d1ab-41d6-aa8e-973d7e9a7b44
    body:
      encoding: UTF-8
      string: '{"capacity":0.0,"description":"Medium Projectile Ammo. This ammo uses
        a similar plasma containment core as hybrid charges except that it is mounted
        in a standard cannon shell.\r\n\r\n50% reduced optimal range.","dogma_attributes":[{"attribute_id":128,"value":2.0},{"attribute_id":161,"value":0.0125},{"attribute_id":162,"value":1.0},{"attribute_id":4,"value":1.0},{"attribute_id":38,"value":0.0},{"attribute_id":422,"value":1.0},{"attribute_id":137,"value":55.0},{"attribute_id":779,"value":0.625},{"attribute_id":114,"value":0.0},{"attribute_id":116,"value":0.0},{"attribute_id":117,"value":4.0},{"attribute_id":118,"value":20.0},{"attribute_id":120,"value":0.5},{"attribute_id":244,"value":1.0},{"attribute_id":124,"value":3304021.0}],"dogma_effects":[{"effect_id":596,"is_default":false},{"effect_id":600,"is_default":false},{"effect_id":1173,"is_default":false}],"graphic_id":1297,"group_id":83,"icon_id":1297,"market_group_id":112,"mass":1.0,"name":"Phased
        Plasma M","packaged_volume":0.0125,"portion_size":100,"published":true,"radius":1.0,"type_id":192,"volume":0.0125}'
  recorded_at: Mon, 28 Sep 2026 15:10:26 GMT
recorded_with: VCR 6.4.0
