---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/types/192
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"eb02b32cba3ed2b28639d4d552243949671a18d2b8aca54f4271cfbb"
      Last-Modified:
      - Wed, 11 Mar 2026 11:03:14 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '20'
      X-Esi-Request-Id:
      - 01e8d918-c5d0-40e6-a27a-0d96581da47c
    body:
      encoding: UTF-8
      string: '{"capacity":0.0,"description":"Medium Projectile Ammo. This ammo uses
        a similar plasma containment core as hybrid charges except that it is mounted
        in a standard cannon shell.\r\n\r\n50% reduced optimal range.","dogma_attributes":[{"attribute_id":128,"value":2.0},{"attribute_id":161,"value":0.0125},{"attribute_id":162,"value":1.0},{"attribute_id":4,"value":1.0},{"attribute_id":38,"value":0.0},{"attribute_id":422,"value":1.0},{"attribute_id":137,"value":55.0},{"attribute_id":779,"value":0.625},{"attribute_id":114,"value":0.0},{"attribute_id":116,"value":0.0},{"attribute_id":117,"value":4.0},{"attribute_id":118,"value":20.0},{"attribute_id":120,"value":0.5},{"attribute_id":244,"value":1.0},{"attribute_id":124,"value":3304021.0}],"dogma_effects":[{"effect_id":596,"is_default":false},{"effect_id":600,"is_default":false},{"effect_id":1173,"is_default":false}],"graphic_id":1297,"group_id":83,"icon_id":1297,"market_group_id":112,"mass":1.0,"name":"Phased
        Plasma M","packaged_volume":0.0125,"portion_size":100,"published":true,"radius":1.0,"type_id":192,"volume":0.0125}'
  recorded_at: Thu, 12 Mar 2026 19:12:40 GMT
recorded_with: VCR 6.4.0
