---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v3/characters/91473836/calendar/1982004/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer l4xCuAQVZr78XJ_xUUqH1soBerDnlXlq00ju1PZKrg6cSjrhmzy9aHOPEshSr3mQXlzj5nRErHm2tKIAZsv1UQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS,PUT
      Etag:
      - '"551811618f893135bfda67bc87f2a2215a6d648b2374bac6194744e4"'
      Last-Modified:
      - Sat, 15 Jun 2019 10:40:45 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '15'
      X-Esi-Request-Id:
      - dcee3e70-17d0-4263-9664-87a188d72acf
    body:
      encoding: UTF-8
      string: '{"date":"2019-08-08T05:00:00Z","duration":0,"event_id":1982004,"importance":1,"owner_id":91473836,"owner_name":"Devas Weddo","owner_type":"character","response":"not_responded","text":"X marks the spot","title":"Important
        personal event"}'
  recorded_at: Sat, 15 Jun 2019 10:40:45 GMT
recorded_with: VCR 5.0.0
