---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/stargates/50000056/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"2e28835f91024608719726b655591d531125a023e122859d174923d5"'
      Last-Modified:
      - Wed, 21 Nov 2018 11:06:45 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '36'
      X-Esi-Request-Id:
      - 30dc9c3e-a973-4ec9-8a80-50eabb57b92b
    body:
      encoding: UTF-8
      string: '{"destination":{"stargate_id":50000342,"system_id":30000003},"name":"Stargate
        (Akpivem)","position":{"x":331516354560.0,"y":43597455360.0,"z":-586353991680.0},"stargate_id":50000056,"system_id":30000001,"type_id":29624}'
  recorded_at: Wed, 21 Nov 2018 11:10:15 GMT
recorded_with: VCR 4.0.0
