---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/paragon-hub/skinr?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Last-Modified:
      - Sun, 27 Sep 2026 22:32:12 GMT
      X-Compatibility-Date:
      - '2026-08-18'
      X-Ratelimit-Group:
      - paragon-hub
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '144'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"cursor":{"before":"1.MTc5MDU0NjUwNTU3MC0w","after":"1.MTc5MDU0ODMzMjQwMC0w"},"listings":[{"id":"60d49f04-bf07-40c5-8027-02edf5b4ee5c","state":"listed","last_modified":"2026-09-27T22:01:45Z","seller_id":2123588459,"skinr_id":"668aef3eef646471b6eed18ddcf191d78b51c2434d53c4bce9725c00ff7cfb60","created":"2026-09-27T22:01:45Z","expires":"2026-12-26T22:01:45Z","quantity":4,"price":{"plex":250}},{"id":"d313c510-5b97-44ce-a52c-ded28ccbef9c","state":"listed","last_modified":"2026-09-27T22:01:49Z","seller_id":267516892,"skinr_id":"80d38dda13fd408bc92eb0f1a0b4367d475bc2984c69a474f3cf610ef96a4ec2","created":"2026-09-27T22:01:49Z","expires":"2026-12-26T22:01:49Z","quantity":1,"price":{"isk":450000000.00}},{"id":"1126915f-8ac6-484a-bbe0-a5f911876eb0","state":"listed","last_modified":"2026-09-27T22:03:18Z","seller_id":527071472,"skinr_id":"5ce61bbbb5b2a87f50b8eb85a2ed9ba1e6a4df4c1ff31f82832b7f25f3dfc9b7","created":"2026-09-27T22:03:17Z","expires":"2026-09-28T22:03:17Z","quantity":1,"price":{"plex":100}},{"id":"2e6d2104-77f1-49b8-b445-22b4b69f6fed","state":"listed","last_modified":"2026-09-27T22:03:18Z","seller_id":267516892,"skinr_id":"2e9e4c2abc24e5e7bc75b5e58ec13a0641dcf0b99ad80b8e[...]
