---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/characters/1337512245/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 18 Feb 2018 21:12:00 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '52'
    body:
      encoding: UTF-8
      string: '{"corporation_id":98134807,"birthday":"2010-01-15T15:26:00Z","name":"Johnn
        Dillinger","gender":"male","race_id":2,"bloodline_id":4,"description":"","alliance_id":99005443,"ancestry_id":24,"security_status":1.8694881661345457}'
  recorded_at: Sun, 18 Feb 2018 21:18:13 GMT
recorded_with: VCR 4.0.0
