---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/moons/40000004/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"6086f92a845aaddb43b8ac94851821515b81ccd3bb873ce40a61e635"
      Last-Modified:
      - Tue, 16 Oct 2018 11:09:56 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '60'
      X-Esi-Request-Id:
      - 8cce1004-90b6-4965-9488-ed7c4c97fc0e
    body:
      encoding: UTF-8
      string: '{"moon_id":40000004,"name":"Tanoo I - Moon 1","position":{"x":162088094286.0,"y":21314854783.0,"z":-73598621491.0},"system_id":30000001}'
  recorded_at: Wed, 17 Oct 2018 10:58:00 GMT
recorded_with: VCR 4.0.0
