---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/military-campaigns/7519d7db-1e95-4d0e-bbbe-c47cd47de3c0/objectives/36fe563a-bc80-4c86-94a4-114358a8912b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Last-Modified:
      - Sun, 27 Sep 2026 19:20:14 GMT
      X-Compatibility-Date:
      - '2026-08-04'
      X-Ratelimit-Group:
      - military-campaign
      X-Ratelimit-Limit:
      - 300/15m
      X-Ratelimit-Remaining:
      - '282'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"id":"36fe563a-bc80-4c86-94a4-114358a8912b","state":"Active","progress":6634,"participants":{"total":1181,"committed":1078,"contributors":854},"last_modified":"2026-09-27T19:20:14.4Z","started":"2026-08-20T16:00:03.061Z"}

        '
  recorded_at: Sun, 27 Sep 2026 22:35:40 GMT
recorded_with: VCR 6.4.0
