---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/meta/changelog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Compatibility-Date:
      - '2025-09-26'
      X-Ratelimit-Group:
      - meta
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '133'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"changelog":{"2020-01-01":[{"method":"GET","path":"/meta/changelog","compatibility_date":"2020-01-01","type":"new","description":"Initial
        release of changelog."},{"method":"GET","path":"/meta/compatibility-dates","compatibility_date":"2020-01-01","type":"new","description":"Initial
        release of compatibility dates."}],"2020-08-11":[{"method":"GET","path":"/status","compatibility_date":"2020-01-01","type":"changed","description":"Field
        ''vip'' is now always present"}],"2024-07-11":[{"method":"GET","path":"/characters/{character_id}/assets","compatibility_date":"2020-01-01","type":"changed","descriptio[...]
