---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/meta/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Compatibility-Date:
      - '2025-11-06'
      X-Ratelimit-Group:
      - meta
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '128'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"routes":[{"method":"GET","path":"/alliances","status":"OK"},{"method":"GET","path":"/alliances/{alliance_id}","status":"OK"},{"method":"GET","path":"/alliances/{alliance_id}/contacts","status":"OK"},{"method":"GET","path":"/alliances/{alliance_id}/contacts/labels","status":"OK"},{"method":"GET","path":"/alliances/{alliance_id}/corporations","status":"OK"},{"method":"GET","path":"/alliances/{alliance_id}/icons","status":"OK"},{"method":"POST","path":"/characters/affiliation","status":"OK"},{"method":"GET","path":"/characters/{c[...]
