---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/loyalty/stores/1000035/offers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"c40912e5115e3a15d7a426241dbc29967f047ffae6bbac677c3e0c50"
      Last-Modified:
      - Sat, 14 Mar 2026 11:01:59 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '10'
      X-Esi-Request-Id:
      - 8819bb91-5c04-449c-8b68-6359c28b0494
    body:
      encoding: UTF-8
      string: '[{"ak_cost":0,"isk_cost":2400000,"lp_cost":2400,"offer_id":3584,"quantity":5000,"required_items":[{"quantity":5000,"type_id":234}],"type_id":23047},{"ak_cost":0,"isk_cost":1600000,"lp_cost":1600,"offer_id":3585,"quantity":5000,"required_items":[{"quantity":5000,"type_id":226}],"type_id":23033},{"ak_cost":0,"isk_cost":1200000,"lp_cost":1200,"offer_id":3586,"quantity":5000,"required_items":[{"quantity":5000,"type_id":218}],"type_id":23017},{"ak_cost":0,"isk_cost":5500000,"lp_cost":5500,"offer_id":3587,"quantity":5000,"required_items":[{"quantity":5000,"type_id":2506}],"type_id":27339},{"ak_cost":0,"isk_cost":4200000,"lp[...]
