---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/loyalty/stores/1000035/offers/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"89211f42fde090e4d22621e9b97d7604ab87af95b3b6ffed7fe81bc0"
      Last-Modified:
      - Tue, 11 Jun 2019 11:09:20 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '28'
      X-Esi-Request-Id:
      - 85ccd826-ec1e-4591-9ac1-8c691293e48b
    body:
      encoding: UTF-8
      string: '[{"isk_cost":2400000,"lp_cost":2400,"offer_id":3584,"quantity":5000,"required_items":[{"quantity":5000,"type_id":234}],"type_id":23047},{"isk_cost":1600000,"lp_cost":1600,"offer_id":3585,"quantity":5000,"required_items":[{"quantity":5000,"type_id":226}],"type_id":23033},{"isk_cost":1200000,"lp_cost":1200,"offer_id":3586,"quantity":5000,"required_items":[{"quantity":5000,"type_id":218}],"type_id":23017},{"isk_cost":5500000,"lp_cost":5500,"offer_id":3587,"quantity":5000,"required_items":[{"quantity":5000,"type_id":2506}],"type_id":27339},{"isk_cost":4200000,"lp_cost":4200,"offer_id":3588,"quantity":5000,"req[...]
