---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/industry/facilities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"76c284b2b1096523c3509a8707ba06487b6711a39e665775882217be"'
      Last-Modified:
      - Sun, 27 Sep 2026 21:15:09 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 34c731ee-dd8c-4460-9dcf-ee8d5f7ab610
      X-Ratelimit-Group:
      - industry
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '144'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"facility_id":60006400,"owner_id":1000065,"region_id":10000043,"solar_system_id":30003488,"type_id":1928},{"facility_id":60014593,"owner_id":1000164,"region_id":10000052,"solar_system_id":30004099,"type_id":3865},{"facility_id":60006403,"owner_id":1000065,"region_id":10000043,"solar_system_id":30003490,"type_id":1928},{"facility_id":60014596,"owner_id":1000164,"region_id":10000052,"solar_system_id":30004099,"type_id":3865},{"facility_id":60006406,"owner_id":1000065,"region_id":10000043,"solar_system_id":30003488,"type_id":1928},{"facility_id":60014599,"owner_id":1000165,"region_id":10000065,"s[...]
