---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/industry/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"93957f0b6ee12d2a38caba26cf9e91a31623aec26e03bd088dfcca2d"'
      Last-Modified:
      - Sun, 27 Sep 2026 21:33:45 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 5e87dddc-414f-408f-8b86-4b99839a412e
      X-Ratelimit-Group:
      - industry
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '142'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"cost_indices":[{"activity":"manufacturing","cost_index":0.0014},{"activity":"researching_time_efficiency","cost_index":0.0014},{"activity":"researching_material_efficiency","cost_index":0.0014},{"activity":"copying","cost_index":0.0014},{"activity":"invention","cost_index":0.0014},{"activity":"reaction","cost_index":0.0014}],"solar_system_id":30020141},{"cost_indices":[{"activity":"manufacturing","cost_index":0.0384},{"activity":"researching_time_efficiency","cost_index":0.0198},{"activity":"researching_material_efficiency","cost_index":0.0074},{"activity":"copying","cost_index":0.0089},{"activity":"invention","cost_index":0.0282},{"activity":"reaction","cost_index":0.0014}],"solar_system_id":30021392},{"cost_indices":[{"activity":"manufacturing","cost_index":0.0253},{"activity":"researching_time_efficiency","cost_index":0.0014},{"ac[...]
