---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/moons/40000004
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"eb02b32cba3ed2b28639d4d552243949671a18d2b8aca54f4271cfbb"
      Last-Modified:
      - Wed, 11 Mar 2026 11:03:14 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '38'
      X-Esi-Request-Id:
      - 7f2522c0-3309-4d54-91c5-9a5923c9a1b9
    body:
      encoding: UTF-8
      string: '{"moon_id":40000004,"name":"Tanoo I - Moon 1","position":{"x":162088094286.0,"y":21314854783.0,"z":-73598621491.0},"system_id":30000001}'
  recorded_at: Thu, 12 Mar 2026 13:13:22 GMT
recorded_with: VCR 6.4.0
