---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/moons/40000004/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"e3f6a76b4a1287f54966c6253f8f5d6ac6460bc43d47570331b43e0b"'
      Last-Modified:
      - Tue, 01 Jan 2019 11:04:24 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '59'
      X-Esi-Request-Id:
      - 6a312016-1398-476c-b230-ae9c74d535d5
    body:
      encoding: UTF-8
      string: '{"moon_id":40000004,"name":"Tanoo I - Moon 1","position":{"x":162088094286.0,"y":21314854783.0,"z":-73598621491.0},"system_id":30000001}'
  recorded_at: Tue, 01 Jan 2019 22:28:01 GMT
recorded_with: VCR 4.0.0
