---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/contracts/public/items/157872948/?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"d458c3f56c114882a9ecfe1aaf173837310b15b6e7cef86a019e700f"'
      Last-Modified:
      - Thu, 18 Jun 2020 20:00:30 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '51'
      X-Esi-Request-Id:
      - 21d15a53-8a15-45e7-9f55-906a5bf8ecfb
      X-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"is_blueprint_copy":true,"is_included":true,"item_id":1029552558074,"material_efficiency":10,"quantity":1,"record_id":3210378611,"runs":400,"time_efficiency":20,"type_id":29040}]'
  recorded_at: Thu, 18 Jun 2020 20:46:09 GMT
recorded_with: VCR 6.0.0
