---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/groups/450/?datasource=tranquility&language=en-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"37a39e7a5f5ecc07b19a3128c319f1198d035aee10052d0a21ccdd94"
      Last-Modified:
      - Mon, 01 Jul 2019 11:09:31 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '26'
      X-Esi-Request-Id:
      - 811ddd48-fe50-496c-ad97-810d9ab1a75b
    body:
      encoding: UTF-8
      string: '{"category_id":25,"group_id":450,"name":"Arkonor","published":true,"types":[22,17425,17426,26852,28367,28385,28387,28625,46678,46691]}'
  recorded_at: Tue, 02 Jul 2019 17:32:34 GMT
recorded_with: VCR 5.0.0
