---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/groups/450
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"eb02b32cba3ed2b28639d4d552243949671a18d2b8aca54f4271cfbb"
      Last-Modified:
      - Wed, 11 Mar 2026 11:03:14 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '21'
      X-Esi-Request-Id:
      - d6a53435-7ac4-4c08-b845-178f29ead84d
    body:
      encoding: UTF-8
      string: '{"category_id":25,"group_id":450,"name":"Arkonor","published":true,"types":[22,17425,17426,26852,28367,28385,28387,28625,46678,46691,62568,62569,62570,62571]}'
  recorded_at: Thu, 12 Mar 2026 16:28:39 GMT
recorded_with: VCR 6.4.0
