---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/groups/450/?language=en-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - '"71e655c22da484d5e6466ec84d40e14997b5b24b94901ab8c31b0781"'
      Last-Modified:
      - Thu, 02 Jan 2025 11:01:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '11'
      X-Esi-Request-Id:
      - 6241edee-6acd-4baa-98df-222f47716221
    body:
      encoding: UTF-8
      string: '{"category_id":25,"group_id":450,"name":"Arkonor","published":true,"types":[22,17425,17426,26852,28367,28385,28387,28625,46678,46691,62568,62569,62570,62571]}'
  recorded_at: Thu, 02 Jan 2025 14:07:49 GMT
recorded_with: VCR 6.3.1
