---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/groups/450
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '38'
      X-Esi-Request-Id:
      - 5f222b4f-c9cf-4e80-8160-fe4823544280
    body:
      encoding: UTF-8
      string: '{"category_id":25,"group_id":450,"name":"Arkonor","published":true,"types":[22,17425,17426,26852,28367,28385,28387,28625,46678,46691,62568,62569,62570,62571]}'
  recorded_at: Mon, 28 Sep 2026 15:10:22 GMT
recorded_with: VCR 6.4.0
