---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/stargates/50000056/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"6086f92a845aaddb43b8ac94851821515b81ccd3bb873ce40a61e635"
      Last-Modified:
      - Tue, 16 Oct 2018 11:09:56 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '15'
      X-Esi-Request-Id:
      - 6a90142f-76af-45b3-8ce4-2f6379d6fca6
    body:
      encoding: UTF-8
      string: '{"destination":{"stargate_id":50000342,"system_id":30000003},"name":"Stargate
        (Akpivem)","position":{"x":331516354560.0,"y":43597455360.0,"z":-586353991680.0},"stargate_id":50000056,"system_id":30000001,"type_id":29624}'
  recorded_at: Thu, 18 Oct 2018 08:57:45 GMT
recorded_with: VCR 4.0.0
