---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/planets/40000002/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"94c7b32ab5bf336578b0550f1727b86ccbbb4b1f0cb5bdc32e0f5406"
      Last-Modified:
      - Tue, 09 Oct 2018 11:11:36 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '5'
      X-Esi-Request-Id:
      - 61db0666-a756-4a88-8958-04778327dfd1
    body:
      encoding: UTF-8
      string: '{"name":"Tanoo I","planet_id":40000002,"position":{"x":161891117336.0,"y":21288951986.0,"z":-73529712226.0},"system_id":30000001,"type_id":11}'
  recorded_at: Tue, 09 Oct 2018 19:33:55 GMT
recorded_with: VCR 4.0.0
