---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/planets/40000002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"'
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '37'
      X-Esi-Request-Id:
      - 8edc8ded-2ba5-4c54-b6f4-1632563842be
    body:
      encoding: UTF-8
      string: '{"name":"Tanoo I","planet_id":40000002,"position":{"x":161891117336.0,"y":21288951986.0,"z":-73529712226.0},"system_id":30000001,"type_id":11}'
  recorded_at: Mon, 28 Sep 2026 15:10:23 GMT
recorded_with: VCR 6.4.0
