---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/planets/40000002/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"e3f6a76b4a1287f54966c6253f8f5d6ac6460bc43d47570331b43e0b"
      Last-Modified:
      - Tue, 01 Jan 2019 11:04:24 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - f0d33190-ae7f-4bca-ba80-d3cbb0c8ac3b
    body:
      encoding: UTF-8
      string: '{"name":"Tanoo I","planet_id":40000002,"position":{"x":161891117336.0,"y":21288951986.0,"z":-73529712226.0},"system_id":30000001,"type_id":11}'
  recorded_at: Tue, 01 Jan 2019 22:03:26 GMT
recorded_with: VCR 4.0.0
