---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v6/characters/1337512245/wallet/journal/?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"b618a1a584f6aad53cb79c72d6de26d8c9210d0a18be1421d5355446"'
      Last-Modified:
      - Mon, 09 Mar 2020 01:26:18 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '59'
      X-Esi-Request-Id:
      - ed1b57af-d648-4487-9e48-7fb8e5506db1
      X-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"amount":87375.0,"balance":2405126.01,"context_id":30003498,"context_id_type":"system_id","date":"2020-03-08T12:08:25Z","description":"Johnn
        Dillinger got bounty prizes for killing pirates in Sharhelund","first_party_id":1000125,"id":17740466914,"reason":"3744:
        2,3748: 2,18085: 2,18070: 1","ref_type":"bounty_prizes","second_party_id":1337512245},{"amount":390450.0,"balance":2317751.01,"date":"2020-03-08T12:01:29Z","description":"Mission
        reward bonus from agent Hemigh Amalah to Johnn Dillinger","first_party_id":3008826,"id":17740447897,"reason":"","ref_type":"agent_mission_time_bonus_reward","second_party_id":1337512245,"tax":20550.0,"tax_receiver_id":98134807},{"amount":501600.0,"balance":1927301.01,"date":"2020-03-08T12:01:29Z","description":"Mission
        reward from agent Hemigh Amalah to Johnn Dillinger","first_party_id":3008826,"id":17740447894,"reason":"","ref_type":"agent_mission_reward","second_party_id":1337512245,"tax":26400.0,"tax_receiver_id":98134807},{"amount":-99887.79,"balance":1425701.01,"context_id":5296927639,"context_id_type":"market_transaction_id","date":"2020-03-08T11:49:16Z","description":"Market
        escrow rele[...]
