---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/wars/615578/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"3933b0baeaac259101f55fdad865c5590deeb9e1613fb2344b3db293"'
      Last-Modified:
      - Mon, 28 Oct 2019 14:02:00 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '3'
      X-Esi-Request-Id:
      - bd29ce0f-bd43-427b-9400-24986d55d157
    body:
      encoding: UTF-8
      string: '{"aggressor":{"alliance_id":99008592,"isk_destroyed":222167.22000000003,"ships_killed":9},"declared":"2018-09-14T10:42:03Z","defender":{"alliance_id":99008228,"isk_destroyed":0.0,"ships_killed":0},"finished":"2018-09-20T03:52:00Z","id":615578,"mutual":false,"open_for_allies":false,"started":"2018-09-14T10:42:03Z"}'
  recorded_at: Mon, 28 Oct 2019 14:16:57 GMT
recorded_with: VCR 5.0.0
