---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/wars/654019
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"8fc0e5b5553fc8620417a0104f64b66cc47fc22d8a6c57dc0f10a841"'
      Last-Modified:
      - Fri, 20 Feb 2026 18:39:48 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 46f6be28-3d9a-4266-97e7-4db8f0ee330f
      X-Ratelimit-Group:
      - killmail
      X-Ratelimit-Limit:
      - 3600/15m
      X-Ratelimit-Remaining:
      - '3594'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"aggressor":{"corporation_id":98616186,"isk_destroyed":0.0,"ships_killed":0},"allies":[],"declared":"2019-10-14T07:24:00Z","defender":{"corporation_id":98616479,"isk_destroyed":0.0,"ships_killed":0},"finished":"2019-10-23T11:42:00Z","id":654019,"mutual":false,"open_for_allies":true,"retracted":"2019-10-22T11:42:00Z","started":"2019-10-15T07:24:00Z"}'
  recorded_at: Fri, 20 Feb 2026 18:43:56 GMT
recorded_with: VCR 6.4.0
