---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/wars/654019/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"01fa26aad0ed536a053e1e53656f299b2c0f66a09bbccc2be37950e8"'
      Last-Modified:
      - Mon, 28 Oct 2019 21:41:59 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '54'
      X-Esi-Request-Id:
      - d5af899f-e3d7-4b9a-87ee-ce40d36a6d39
    body:
      encoding: UTF-8
      string: '{"aggressor":{"corporation_id":98616186,"isk_destroyed":0.0,"ships_killed":0},"allies":[{"corporation_id":98551342},{"corporation_id":98608242},{"alliance_id":99009475}],"declared":"2019-10-14T07:24:00Z","defender":{"corporation_id":98616479,"isk_destroyed":0.0,"ships_killed":0},"finished":"2019-10-23T11:42:00Z","id":654019,"mutual":false,"open_for_allies":true,"started":"2019-10-15T07:24:00Z"}'
  recorded_at: Mon, 28 Oct 2019 21:44:06 GMT
recorded_with: VCR 5.0.0
