---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/wars/744979
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"56a0cb7e82dc9ae8ace4cffe18236c3083a92a1e650372f9cfd2ee8a"'
      Last-Modified:
      - Fri, 20 Feb 2026 20:34:14 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - bf760fc1-afb2-449b-9640-02cc8111e95d
      X-Ratelimit-Group:
      - killmail
      X-Ratelimit-Limit:
      - 3600/15m
      X-Ratelimit-Remaining:
      - '3505'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"aggressor":{"alliance_id":99013481,"isk_destroyed":59326425.53,"ships_killed":3},"allies":[],"declared":"2024-10-03T11:28:00Z","defender":{"alliance_id":741557221,"isk_destroyed":0.0,"ships_killed":0},"finished":"2024-10-07T12:06:00Z","id":744979,"mutual":false,"open_for_allies":false,"retracted":"2024-10-06T12:06:00Z","started":"2024-10-04T11:28:00Z"}'
  recorded_at: Fri, 20 Feb 2026 20:35:52 GMT
recorded_with: VCR 6.4.0
