---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/contracts/public/10000043/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"3f7fdf9a69e35bb35d619b6cb5043a2766d11ca6306a8b5af369ce6e"'
      Last-Modified:
      - Wed, 17 Jun 2020 20:53:59 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '7'
      X-Esi-Request-Id:
      - 3f031b49-58c5-472d-a145-a9512eb73af8
      X-Pages:
      - '4'
    body:
      encoding: UTF-8
      string: '[{"collateral":0.0,"contract_id":157834735,"date_expired":"2020-06-17T21:36:41Z","date_issued":"2020-05-20T21:36:41Z","days_to_complete":0,"end_location_id":60008494,"for_corporation":true,"issuer_corporation_id":897372069,"issuer_id":1314102096,"price":1250000000.0,"reward":0.0,"start_location_id":60008494,"title":"Apostle
        Me10\/Te16 Complete Bpc 10 Pack","type":"item_exchange","volume":100.0},{"collateral":0.0,"contract_id":157834745,"date_expired":"2020-06-17T21:37:03Z","date_issued":"2020-05-20T21:37:03Z","days_to_complete":0,"end_location_id":60008494,"for_corporation":true,"issuer_corporation_id":897372069,"issuer_id":1314102096,"price":125000000.0,"reward":0.0,"start_location_id":60008494,"title":"Archon
        Me10\/Te16 Complete Bpc Pack","type":"item_exchange","volume":100.0},{"collateral":0.0,"contract_id":157834765,"date_expired":"2020-06-17T21:37:33Z","date_issued"[...]
