---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/stations/60012526
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '36'
      X-Esi-Request-Id:
      - eee6aaf5-729f-4c04-ba73-7d7c42dbd776
    body:
      encoding: UTF-8
      string: '{"max_dockable_ship_volume":50000000.0,"name":"Tanoo V - Moon 1 - Ammatar
        Consulate Bureau","office_rental_cost":471035.0,"owner":1000126,"position":{"x":-1106145239040.0,"y":-145460060160.0,"z":182618726400.0},"race_id":2,"reprocessing_efficiency":0.5,"reprocessing_stations_take":0.05,"services":["bounty-missions","courier-missions","interbus","reprocessing-plant","market","stock-exchange","cloning","repair-facilities","fitting","news","insurance","docking","office-rental","loyalty-point-store","navy-offices","security-offices"],"station_id":60012526,"system_id":30000001,"type_id":2502}'
  recorded_at: Mon, 28 Sep 2026 15:10:25 GMT
recorded_with: VCR 6.4.0
