---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/universe/stations/60012526/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"f5499847d582a932ee279a6db7608659f4ce5b2736df0b8857438717"
      Last-Modified:
      - Thu, 18 Oct 2018 11:05:27 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '42'
      X-Esi-Request-Id:
      - a2ca4272-2a6c-4160-836e-ea5cf65f7e90
    body:
      encoding: UTF-8
      string: '{"max_dockable_ship_volume":50000000.0,"name":"Tanoo V - Moon 1 - Ammatar
        Consulate Bureau","office_rental_cost":422500.0,"owner":1000126,"position":{"x":-1106145239040.0,"y":-145460060160.0,"z":182618726400.0},"race_id":2,"reprocessing_efficiency":0.5,"reprocessing_stations_take":0.05,"services":["bounty-missions","courier-missions","interbus","reprocessing-plant","market","stock-exchange","cloning","repair-facilities","fitting","news","insurance","docking","office-rental","loyalty-point-store","navy-offices","security-offices"],"station_id":60012526,"system_id":30000001,"type_id":2502}'
  recorded_at: Fri, 19 Oct 2018 10:58:18 GMT
recorded_with: VCR 4.0.0
