---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/stations/60012526
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"eb02b32cba3ed2b28639d4d552243949671a18d2b8aca54f4271cfbb"
      Last-Modified:
      - Wed, 11 Mar 2026 11:03:14 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '58'
      X-Esi-Request-Id:
      - 7d9dae8a-5436-40d6-b35b-d5e95a3532c8
    body:
      encoding: UTF-8
      string: '{"max_dockable_ship_volume":50000000.0,"name":"Tanoo V - Moon 1 - Ammatar
        Consulate Bureau","office_rental_cost":1870537.0,"owner":1000126,"position":{"x":-1106145239040.0,"y":-145460060160.0,"z":182618726400.0},"race_id":2,"reprocessing_efficiency":0.5,"reprocessing_stations_take":0.05,"services":["bounty-missions","courier-missions","interbus","reprocessing-plant","market","stock-exchange","cloning","repair-facilities","fitting","news","insurance","docking","office-rental","loyalty-point-store","navy-offices","security-offices"],"station_id":60012526,"system_id":30000001,"type_id":2502}'
  recorded_at: Thu, 12 Mar 2026 12:40:02 GMT
recorded_with: VCR 6.4.0
