---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/stars/40000001/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"f5499847d582a932ee279a6db7608659f4ce5b2736df0b8857438717"
      Last-Modified:
      - Thu, 18 Oct 2018 11:05:27 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '24'
      X-Esi-Request-Id:
      - 90517065-8798-4cc1-ab43-8906a06e6f18
    body:
      encoding: UTF-8
      string: '{"age":14262808228,"luminosity":0.01575000025331974,"name":"Tanoo -
        Star","radius":126700000,"solar_system_id":30000001,"spectral_class":"K2 V","temperature":4567,"type_id":45041}'
  recorded_at: Thu, 18 Oct 2018 13:11:36 GMT
recorded_with: VCR 4.0.0
