---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/attributes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"ce95d94263dca861a2b1503c111d2b1086d56affc06bbcc959303011"'
      Last-Modified:
      - Sun, 22 Feb 2026 16:49:28 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Request-Id:
      - 3f149302-ea44-45c3-8ded-9f0820bf5ed1
      X-Ratelimit-Group:
      - char-detail
      X-Ratelimit-Limit:
      - 600/15m
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"accrued_remap_cooldown_date":"2012-05-06T12:58:06Z","bonus_remaps":2,"charisma":20,"intelligence":24,"last_remap_date":"2011-05-07T12:58:06Z","memory":24,"perception":23,"willpower":23}'
  recorded_at: Sun, 22 Feb 2026 16:49:28 GMT
recorded_with: VCR 6.4.0
