---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/categories/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '40'
      X-Esi-Request-Id:
      - 9eb5081a-f397-448c-9be0-5d3499d05463
    body:
      encoding: UTF-8
      string: '{"category_id":6,"groups":[25,26,27,28,29,30,31,237,324,358,380,381,419,420,463,485,513,540,541,543,547,659,830,831,832,833,834,883,893,894,898,900,902,906,941,963,1022,1201,1202,1283,1305,1527,1534,1538,1972,2001,4594,4902,5087,5120],"name":"Ship","published":true}'
  recorded_at: Mon, 28 Sep 2026 15:10:20 GMT
recorded_with: VCR 6.4.0
