---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/categories/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"eb02b32cba3ed2b28639d4d552243949671a18d2b8aca54f4271cfbb"
      Last-Modified:
      - Wed, 11 Mar 2026 11:03:14 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '33'
      X-Esi-Request-Id:
      - 20665add-7e7d-4e58-854b-03ca0c2a64b7
    body:
      encoding: UTF-8
      string: '{"category_id":6,"groups":[25,26,27,28,29,30,31,237,324,358,380,381,419,420,463,485,513,540,541,543,547,659,830,831,832,833,834,883,893,894,898,900,902,906,941,963,1022,1201,1202,1283,1305,1527,1534,1538,1972,2001,4594,4902],"name":"Ship","published":true}'
  recorded_at: Thu, 12 Mar 2026 17:35:27 GMT
recorded_with: VCR 6.4.0
