---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/categories/6/?datasource=tranquility&language=en-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"37a39e7a5f5ecc07b19a3128c319f1198d035aee10052d0a21ccdd94"
      Last-Modified:
      - Mon, 01 Jul 2019 11:09:31 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '48'
      X-Esi-Request-Id:
      - 7a325271-cd7d-4392-96bc-8b08b670eafa
    body:
      encoding: UTF-8
      string: '{"category_id":6,"groups":[25,26,27,28,29,30,31,237,324,358,380,381,419,420,463,485,513,540,541,543,547,659,830,831,832,833,834,883,893,894,898,900,902,906,941,963,1022,1201,1202,1283,1305,1527,1534,1538,1972,2001],"name":"Ship","published":true}'
  recorded_at: Tue, 02 Jul 2019 14:12:12 GMT
recorded_with: VCR 5.0.0
