---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/categories/6/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - '"5c9218218aca123ef8c106f6607bfe8e6e086d2fc2b972bbd8ff03d2"'
      Last-Modified:
      - Tue, 15 Jan 2019 11:12:49 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '35'
      X-Esi-Request-Id:
      - c2c05a02-6843-4cda-9058-fc78e6d394d3
    body:
      encoding: UTF-8
      string: '{"category_id":6,"groups":[25,26,27,28,29,30,31,237,324,358,380,381,419,420,463,485,513,540,541,543,547,659,830,831,832,833,834,883,893,894,898,900,902,906,941,963,1022,1201,1202,1283,1305,1527,1534,1538,1972,2001],"name":"Ship","published":true}'
  recorded_at: Wed, 16 Jan 2019 12:19:25 GMT
recorded_with: VCR 4.0.0
