---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/categories/6/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"7261e48bc37b9e927b4f7be5b3f5c0bdc44a4b4a3e32c4b86f4dbe8f"
      Last-Modified:
      - Wed, 03 Oct 2018 11:15:20 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '14'
      X-Esi-Request-Id:
      - db69328d-5eb9-49aa-af88-4a69896e9bee
    body:
      encoding: UTF-8
      string: '{"category_id":6,"groups":[25,26,27,28,29,30,31,237,324,358,380,381,419,420,463,485,513,540,541,543,547,659,830,831,832,833,834,883,893,894,898,900,902,906,941,963,1022,1201,1202,1283,1305,1527,1534,1538,1972,2001],"name":"Ship","published":true}'
  recorded_at: Wed, 03 Oct 2018 16:29:46 GMT
recorded_with: VCR 4.0.0
