---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - W/"e2061437d3098a97a89c63c24714ac4e3c9ac90209e5e74e14d20469869b1e66"
      Last-Modified:
      - Mon, 28 Sep 2026 15:10:14 GMT
      X-Compatibility-Date:
      - '2026-06-09'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '46'
    body:
      encoding: UTF-8
      string: '{"birthday":"2010-01-15T15:26:00Z","bloodline_id":4,"corporation_id":1000171,"gender":"male","name":"Johnn
        Dillinger","race_id":2,"achievement_score":0,"description":"","security_status":3.9}

        '
  recorded_at: Mon, 28 Sep 2026 15:10:15 GMT
recorded_with: VCR 6.4.0
