---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/characters/1337512245/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"22c39689783a86032b8d43fa0b2e8f4809c4f38a585e39471035aa8b"'
      Last-Modified:
      - Mon, 31 Dec 2018 22:32:26 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - 67c15a18-b14d-4c39-bc38-fa3387b4408f
    body:
      encoding: UTF-8
      string: '{"alliance_id":99005443,"ancestry_id":24,"birthday":"2010-01-15T15:26:00Z","bloodline_id":4,"corporation_id":98134807,"description":"","gender":"male","name":"Johnn
        Dillinger","race_id":2,"security_status":1.8694881661345457}'
  recorded_at: Mon, 31 Dec 2018 22:32:26 GMT
recorded_with: VCR 4.0.0
