---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v5/characters/1337512245/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"5e57d726eda270ba0e8542bdfbca874c844e5cdbf4b5599eeca79d1f"'
      Last-Modified:
      - Sat, 28 Aug 2021 20:38:25 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '47'
      X-Esi-Request-Id:
      - d13c84b2-828a-4e5a-b84e-1635a3b023d5
    body:
      encoding: UTF-8
      string: '{"alliance_id":99008595,"birthday":"2010-01-15T15:26:00Z","bloodline_id":4,"corporation_id":98565696,"description":"","gender":"male","name":"Johnn
        Dillinger","race_id":2,"security_status":3.83155339}'
  recorded_at: Sat, 28 Aug 2021 20:39:13 GMT
recorded_with: VCR 6.0.0
