---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"e931aea926d95a88c929c938741bc7bd8c35920121e7837ad6852020"'
      Last-Modified:
      - Sat, 03 Jan 2026 14:10:17 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '53'
      X-Esi-Request-Id:
      - 17930397-e721-446e-8be2-f4ee6b462479
    body:
      encoding: UTF-8
      string: '{"birthday":"2010-01-15T15:26:00Z","bloodline_id":4,"corporation_id":1000171,"description":"","gender":"male","name":"Johnn
        Dillinger","race_id":2,"security_status":3.83155339}'
  recorded_at: Sat, 03 Jan 2026 14:16:07 GMT
recorded_with: VCR 6.4.0
