---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v5/characters/1337512245/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"5e57d726eda270ba0e8542bdfbca874c844e5cdbf4b5599eeca79d1f"'
      Last-Modified:
      - Thu, 02 Jan 2025 12:57:43 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '46'
      X-Esi-Request-Id:
      - 7dcb323b-57ad-4c3c-adb8-fae22a8b3215
    body:
      encoding: UTF-8
      string: '{"alliance_id":99008595,"birthday":"2010-01-15T15:26:00Z","bloodline_id":4,"corporation_id":98565696,"description":"","gender":"male","name":"Johnn
        Dillinger","race_id":2,"security_status":3.83155339}'
  recorded_at: Thu, 02 Jan 2025 12:58:14 GMT
recorded_with: VCR 6.3.1
