---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v3/characters/90729314/online/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"43c82cdefedc4275da30d7731200df96b905dc94b8486d55bedb5fe6"'
      Last-Modified:
      - Fri, 18 Jan 2019 11:37:11 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '49'
      X-Esi-Request-Id:
      - 7fd31395-2e0d-4619-b5ad-bf10ebd02b02
    body:
      encoding: UTF-8
      string: '{"last_login":"2017-01-15T11:39:24Z","last_logout":"2017-01-15T11:31:22Z","logins":370,"online":false}'
  recorded_at: Fri, 18 Jan 2019 11:37:11 GMT
recorded_with: VCR 4.0.0
