---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/online
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"436c2ab6639a5b647761178846e3446a4dc7ea92ec5dad648a7503a7"'
      Last-Modified:
      - Mon, 16 Mar 2026 14:40:58 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Request-Id:
      - a5f7587c-2e98-4956-b429-c0981725eb01
      X-Ratelimit-Group:
      - char-location
      X-Ratelimit-Limit:
      - 1200/15m
      X-Ratelimit-Remaining:
      - '1197'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"last_login":"2022-12-17T01:36:16Z","last_logout":"2022-12-17T01:37:11Z","logins":536,"online":false}'
  recorded_at: Mon, 16 Mar 2026 14:40:58 GMT
recorded_with: VCR 6.4.0
