---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/military-campaigns/7519d7db-1e95-4d0e-bbbe-c47cd47de3c0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Last-Modified:
      - Wed, 16 Sep 2026 10:24:53 GMT
      X-Compatibility-Date:
      - '2026-08-04'
      X-Ratelimit-Group:
      - military-campaign
      X-Ratelimit-Limit:
      - 300/15m
      X-Ratelimit-Remaining:
      - '286'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"id":"7519d7db-1e95-4d0e-bbbe-c47cd47de3c0","state":"Completed","progress":30,"started":"2026-06-09T11:00:09.069Z","finished":"2026-09-16T10:24:53.154Z"}

        '
  recorded_at: Sun, 27 Sep 2026 22:35:38 GMT
recorded_with: VCR 6.4.0
