---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/military-campaigns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Compatibility-Date:
      - '2026-08-04'
      X-Ratelimit-Group:
      - military-campaign
      X-Ratelimit-Limit:
      - 300/15m
      X-Ratelimit-Remaining:
      - '288'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"campaigns":[{"id":"7519d7db-1e95-4d0e-bbbe-c47cd47de3c0","state":"Completed","progress":30,"started":"2026-06-09T11:00:09.069Z","finished":"2026-09-16T10:24:53.154Z"},{"id":"6866051e-f720-4caf-b4f9-d66d97b16e52","state":"Completed","progress":30,"started":"2026-06-09T11:00:10.629Z","finished":"2026-09-20T20:50:24.173Z"},{"id":"e7587202-8f4a-4314-b2cd-ec67e0e78e46","state":"Completed","progress":30,"started":"2026-06-09T11:00:24.571Z","finished":"2026-09-21T20:18:15.649Z"},{"id":"1dbb3b8d-5363-4cb3-858d-538cd1e12c32","state":"Completed","progress":30,"started":"2026-06-09T11:00:11.555Z","finished":"2026-09-26T02:27:32.296Z"}]}

        '
  recorded_at: Sun, 27 Sep 2026 22:35:37 GMT
recorded_with: VCR 6.4.0
