---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/universe/systems/30000001/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - '"7261e48bc37b9e927b4f7be5b3f5c0bdc44a4b4a3e32c4b86f4dbe8f"'
      Last-Modified:
      - Wed, 03 Oct 2018 11:15:20 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '11'
      X-Esi-Request-Id:
      - d02b02f0-4d8e-43e3-892e-2e5137a9bbcb
    body:
      encoding: UTF-8
      string: '{"constellation_id":20000001,"name":"Tanoo","planets":[{"asteroid_belts":[40000003],"moons":[40000004],"planet_id":40000002},{"asteroid_belts":[40000006],"planet_id":40000005},{"planet_id":40000007},{"asteroid_belts":[40000009],"moons":[40000010],"planet_id":40000008},{"moons":[40000012,40000013,40000014,40000015,40000016],"planet_id":40000011},{"asteroid_belts":[40000018],"planet_id":40000017}],"position":{"x":-88510792599980580.0,"y":42369443966878880.0,"z":-44513525346479660.0},"security_class":"B","security_status":0.8583240509033203,"star_id":40000001,"stargates":[50000056,50000057,50000058],"stations":[60012526,60014437],"system_id":30000001}'
  recorded_at: Thu, 04 Oct 2018 16:05:49 GMT
recorded_with: VCR 4.0.0
