---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/fw/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - ce398477-85b7-4403-88da-73efc91f47a0
      X-Ratelimit-Group:
      - factional-warfare
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '130'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"faction_id":500001,"kills":{"last_week":2497,"total":1331131,"yesterday":383},"pilots":57300,"systems_controlled":59,"victory_points":{"last_week":1129489,"total":215603178,"yesterday":156606}},{"faction_id":500002,"kills":{"last_week":2547,"total":1195657,"yesterday":423},"pilots":34631,"systems_controlled":27,"victory_points":{"last_week":1056824,"total":186731712,"yesterday":138950}},{"faction_id":500003,"kills":{"last_week":2795,"total":1193984,"yesterday":241},"pilots":33064,"systems_controlled":43,"victory_points":{"last_week":1148860,"total":187722123,"yesterday":199713}},{"faction_id":500004,"kills":{"last_week":2357,"total":1587711,"yesterday":348},"pilots":45048,"systems_controlled":31,"victory_points":{"last_week":1099062,"total":211361385,"yesterday":180877}},{"faction_id":500010,"kills":{"last_week":1844,"total":221297,"yesterday":352},"pilots":2488,"systems_controlled":0,"victory_points":{"last_week":0,"total":0,"yesterday":0}},{"faction_id":500011,"kills":{"last_week":1689,"total":253685,"yesterday":230},"pilots":3275,"systems_controlled":0,"victory_points":{"last_week":0,"total":0,"yesterday":0}}]'
  recorded_at: Sun, 27 Sep 2026 22:28:36 GMT
recorded_with: VCR 6.4.0
