---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/fw/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"191ebaa877db008cd22499a4960964fc8a5317cfeb9ddb614aebae53"'
      Last-Modified:
      - Sun, 27 Sep 2026 22:13:02 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - '0096d035-e013-401a-b727-dfa6f19c665e'
      X-Ratelimit-Group:
      - factional-warfare
      X-Ratelimit-Limit:
      - 150/15m
      X-Ratelimit-Remaining:
      - '128'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"contested":"uncontested","occupier_faction_id":500003,"owner_faction_id":500003,"solar_system_id":30002957,"victory_points":0,"victory_points_threshold":75000},{"contested":"uncontested","occupier_faction_id":500002,"owner_faction_id":500002,"solar_system_id":30002097,"victory_points":0,"victory_points_threshold":75000},{"contested":"uncontested","occupier_faction_id":500004,"owner_faction_id":500004,"solar_system_id":30004999,"victory_points":0,"victory_points_threshold":75000},{"contested":"contested","occupier_faction_id":500004,"owner_faction_id":500004,"solar_system_id":30005295,"victory_points":75,"victory_points_threshold":75000},{"contes[...]
