---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/graphics/20481
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"eb02b32cba3ed2b28639d4d552243949671a18d2b8aca54f4271cfbb"'
      Last-Modified:
      - Wed, 11 Mar 2026 11:03:14 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '41'
      X-Esi-Request-Id:
      - 6d3e0994-a657-4b43-8d1b-1ba796e99570
    body:
      encoding: UTF-8
      string: '{"graphic_id":20481,"sof_dna":"ai1_t1:tash-murkon:amarr","sof_fation_name":"tash-murkon","sof_hull_name":"ai1_t1","sof_race_name":"amarr"}'
  recorded_at: Thu, 12 Mar 2026 19:14:19 GMT
recorded_with: VCR 6.4.0
