---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/graphics/20481/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"e3f6a76b4a1287f54966c6253f8f5d6ac6460bc43d47570331b43e0b"'
      Last-Modified:
      - Tue, 01 Jan 2019 11:04:24 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '22'
      X-Esi-Request-Id:
      - d9ac1046-0f4a-4d64-832e-ef60389dcc20
    body:
      encoding: UTF-8
      string: '{"graphic_id":20481,"sof_dna":"ai1_t1:tash-murkon:amarr","sof_fation_name":"tash-murkon","sof_hull_name":"ai1_t1","sof_race_name":"amarr"}'
  recorded_at: Tue, 01 Jan 2019 19:40:38 GMT
recorded_with: VCR 4.0.0
