---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - W/"d4e59a5f6c4a6914c9deb42063550a55588087ef7ab04a4dfecc01eddb5f2c73"
      Last-Modified:
      - Mon, 28 Sep 2026 15:09:56 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Ratelimit-Group:
      - status
      X-Ratelimit-Limit:
      - 600/15m
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"server_version":"3552227","players":26717,"vip":false,"start_time":"2026-09-28T11:05:11Z"}

        '
  recorded_at: Mon, 28 Sep 2026 15:10:19 GMT
recorded_with: VCR 6.4.0
