---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/military-campaigns/7519d7db-1e95-4d0e-bbbe-c47cd47de3c0/objectives?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Compatibility-Date:
      - '2026-08-04'
      X-Ratelimit-Group:
      - military-campaign
      X-Ratelimit-Limit:
      - 300/15m
      X-Ratelimit-Remaining:
      - '284'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"cursor":{"before":"1.GNlDvvuTfAB_","after":"1.GNlOBQA-Iii3AQ=="},"objectives":[{"id":"36fe563a-bc80-4c86-94a4-114358a8912b","state":"Active","progress":6634,"participants":{"total":1181,"committed":1078,"contributors":854},"last_modified":"2026-09-27T19:20:14.4Z","started":"2026-08-20T16:00:03.061Z"},{"id":"5365f833-0e18-4df7-8e46-74e21cfeea85","state":"Active","progress":23167,"participants":{"total":2926,"committed":1913,"contributors":771},"last_modified":"2026-09-27T19:41:00.943Z","started":"2026-06-17T11:00:43.068Z"},{"id":"62f1574f-17df-4f96-ab37-7483cb3afcd0","state":"Active","progress":22216,"participants":{"total":4513,"committed":4216,"contributors":3734},"last_modified":"2026-09-27T20:29:56.256Z","started":"2026-06-16T23:00:23.069Z"},{"id":"5c46eb43-4fe[...]
