---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/assets?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"49404e9a764dc77aa92df975e81aaaf623177f27332238d814cd0747"'
      Last-Modified:
      - Sat, 03 Jan 2026 17:31:43 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 2d9cd5f6-13d6-45e8-ba24-e02e2f66f299
      X-Pages:
      - '2'
      X-Ratelimit-Group:
      - char-asset
      X-Ratelimit-Limit:
      - 1800/15m
      X-Ratelimit-Remaining:
      - '1798'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"is_blueprint_copy":true,"is_singleton":true,"item_id":1033660107682,"location_flag":"Hangar","location_id":60002173,"location_type":"station","quantity":1,"type_id":786},{"is_singleton":true,"item_id":1001215602246,"location_flag":"Hangar","location_id":60008674,"location_type":"station","quantity":1,"type_id":2998},{"is_singleton":false,"item_id":1032664154227,"location_flag":"Hangar","location_id":60008674,"location_type":"station","quantity":2,"type_id":5245},{"is_singleton":true,"item_id":1406040129,"location_flag":"Hangar","location_id":60011908,"location_type":"station","quantity":1,"type_id":588},{"is_singleton":true,"item_id":1007277900730,"location[...]
