---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/assets?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"f68790ec8ff757cdd07a68473e59a1c6f788e2a79dcd4a87fece3185"'
      Last-Modified:
      - Sat, 03 Jan 2026 17:31:43 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - 2daacc27-d45a-42b2-985b-f3204e8ff999
      X-Pages:
      - '2'
      X-Ratelimit-Group:
      - char-asset
      X-Ratelimit-Limit:
      - 1800/15m
      X-Ratelimit-Remaining:
      - '1796'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"is_singleton":true,"item_id":1007666093131,"location_flag":"AutoFit","location_id":1032765393720,"location_type":"item","quantity":1,"type_id":2410},{"is_singleton":false,"item_id":1007727997448,"location_flag":"Hangar","location_id":60008674,"location_type":"station","quantity":8000,"type_id":24511},{"is_singleton":false,"item_id":1007774859439,"location_flag":"AutoFit","location_id":1032765393720,"location_type":"item","quantity":3,"type_id":1319},{"is_singleton":true,"item_id":1014679403344,"location_flag":"Hangar","location_id":1030636020789,"location_type":"item","quantity":1,"type_id":22291},{"is_singleton":false,"item_id":101858[...]
