---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v3/characters/1337512245/assets/?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"29da11b30974e55cd440a879199a629a8492a4c0a49894a2cd22f90b"'
      Last-Modified:
      - Sun, 17 Feb 2019 12:50:44 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '35'
      X-Esi-Request-Id:
      - a27d94e8-ae54-468d-858d-e858ec5c54d7
      X-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"is_singleton":true,"item_id":1001215602246,"location_flag":"Hangar","location_id":60008674,"location_type":"station","quantity":1,"type_id":2998},{"is_singleton":true,"item_id":1406040129,"location_flag":"Hangar","location_id":60011908,"location_type":"station","quantity":1,"type_id":588},{"is_singleton":true,"item_id":1007277900730,"location_flag":"RigSlot1","location_id":1007277753840,"location_type":"other","quantity":1,"type_id":31800},{"is_singleton":false,"item_id":1020758126492,"location_flag":"Hangar","location_id":1027847409779,"location_type":"other","quantity":1,"type_id":4613},{"is_singleton":false,"item_id":100242766479[...]
