---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/assets?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"797f5cde1a30e9fde17c0cabcb42c4eba3f0f948cb8fdd7fe6a266e7"'
      Last-Modified:
      - Wed, 18 Feb 2026 20:29:35 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Request-Id:
      - 931eb0c5-9906-4eb1-bfb0-33f8c0808262
      X-Pages:
      - '2'
      X-Ratelimit-Group:
      - char-asset
      X-Ratelimit-Limit:
      - 1800/15m
      X-Ratelimit-Remaining:
      - '1797'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"is_singleton":false,"item_id":1032538385127,"location_flag":"Hangar","location_id":60008674,"location_type":"station","quantity":2,"type_id":7291},{"is_singleton":false,"item_id":1032538391475,"location_flag":"Hangar","location_id":60008674,"location_type":"station","quantity":8,"type_id":5975},{"is_singleton":false,"item_id":1032538395546,"location_flag":"Hangar","location_id":60008674,"location_type":"station","quantity":3,"type_id":8023},{"is_singleton":false,"item_id":1032538395839,"location_flag":"Hangar","location_id":60008674,"location_type":"station","quantity":9,"type_id":6160},{"is_singleton":false,"item_id":1032557833944,"[...]
