---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/markets/groups/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '17'
      X-Esi-Request-Id:
      - c9979586-579f-4ae2-8c1b-773ac94cbb51
    body:
      encoding: UTF-8
      string: '{"description":"Small, fast vessels suited to a variety of purposes.","market_group_id":5,"name":"Standard
        Frigates","parent_group_id":1361,"types":[]}'
  recorded_at: Sun, 27 Sep 2026 22:25:43 GMT
recorded_with: VCR 6.4.0
