---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/characters/1337512245/contracts/?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6e18566a8f786f08aba678262360d0c74a783f9923aa43f8043133e4"'
      Last-Modified:
      - Sun, 08 Mar 2020 21:06:25 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '12'
      X-Esi-Request-Id:
      - e45634d0-7a43-420d-b750-f0dcbd31eb94
      X-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"acceptor_id":2116199184,"assignee_id":2116199184,"availability":"personal","collateral":0.0,"contract_id":154837125,"date_accepted":"2020-03-06T21:09:32Z","date_completed":"2020-03-06T21:09:32Z","date_expired":"2020-03-07T21:09:11Z","date_issued":"2020-03-06T21:09:11Z","days_to_complete":0,"end_location_id":60008674,"for_corporation":false,"issuer_corporation_id":98134807,"issuer_id":1337512245,"price":0.0,"reward":0.0,"start_location_id":60008674,"status":"finished","title":"","type":"item_exchange","volume":15000.0},{"acceptor_id":2116199184,"assignee_id":2116199184,"availability":"personal","collateral":0.0,"contract_id":154838059,"date_accepted":"2020-03-06T21:45:54Z","date_completed":"2020-03-06T21:45:54Z","date_expired":"2020-03-07T21:45:42Z","date_issued":"2020-03-06T21:45:42Z","days_to_complete":0,"end_location_id":60008674,"for_corporation":false,"issuer_corporation_id":98134807,"issuer_id":1337512245,"price":0.0,"reward":0.0,"start_location_id":60008674,"status":"finished","title":"","type":"item_exchange","volume":0.01},{"acceptor_id":2116199184,"assignee_id":2116199184,"availability":"personal","collateral":0.0,"contract_id":154858996,"date_accepted":"2020-03-07T14:39:39Z","date_completed":"2020-03-07T14:39:39Z","date_expired":"2020-03-08T12:37:36Z","date_issued":"2020-03-07T12:37:36Z","days_to_complete":0,"end_location_id":60008674,"for_corporation":false,"issuer_corporation_id":98134807,"issuer_id":1337512245,"price":0.0,"reward":0.0,"start_location_id":60008674,"status":"finished","title":"","type":"item_exchange","volume":0.01}]'
  recorded_at: Sun, 08 Mar 2020 21:08:48 GMT
recorded_with: VCR 5.1.0
