---
http_interactions:
- request:
    method: get
    uri: https://esi.tech.ccp.is/v4/characters/1337512245/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 21 May 2017 17:08:20 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"corporation_id": 98134807, "birthday": "2010-01-15T15:26:00Z", "name":
        "Johnn Dillinger", "gender": "male", "race_id": 2, "bloodline_id": 4, "description":
        "", "alliance_id": 99005443, "ancestry_id": 24, "security_status": 1.8694881661345457}'
  recorded_at: Sun, 21 May 2017 17:08:20 GMT
recorded_with: VCR 3.0.3
