---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/characters/1337512245/portrait/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"7c3e352530bd9a3e07ffaa978ad52dbb4609fa58f483a7eedea7a287"'
      Last-Modified:
      - Wed, 20 Feb 2019 11:03:18 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '37'
      X-Esi-Request-Id:
      - 5bcd42dd-60bd-4b5c-a220-9d8554120430
    body:
      encoding: UTF-8
      string: '{"px128x128":"http:\/\/imageserver.eveonline.com\/Character\/1337512245_128.jpg","px256x256":"http:\/\/imageserver.eveonline.com\/Character\/1337512245_256.jpg","px512x512":"http:\/\/imageserver.eveonline.com\/Character\/1337512245_512.jpg","px64x64":"http:\/\/imageserver.eveonline.com\/Character\/1337512245_64.jpg"}'
  recorded_at: Thu, 21 Feb 2019 21:00:23 GMT
recorded_with: VCR 4.0.0
