---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/portrait
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"'
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Request-Id:
      - 446fb29c-ae44-4636-bce2-bf2beec9a9d9
      X-Ratelimit-Group:
      - char-detail
      X-Ratelimit-Limit:
      - 600/15m
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"px128x128":"https:\/\/images.evetech.net\/characters\/1337512245\/portrait?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/characters\/1337512245\/portrait?tenant=tranquility&size=256","px512x512":"https:\/\/images.evetech.net\/characters\/1337512245\/portrait?tenant=tranquility&size=512","px64x64":"https:\/\/images.evetech.net\/characters\/1337512245\/portrait?tenant=tranquility&size=64"}'
  recorded_at: Mon, 28 Sep 2026 15:10:14 GMT
recorded_with: VCR 6.4.0
