---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/portrait
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"c40912e5115e3a15d7a426241dbc29967f047ffae6bbac677c3e0c50"
      Last-Modified:
      - Sat, 14 Mar 2026 11:01:59 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - ede0e3cf-d9c6-4c2e-adde-23adaaae581c
      X-Ratelimit-Group:
      - char-detail
      X-Ratelimit-Limit:
      - 600/15m
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"px128x128":"https:\/\/images.evetech.net\/characters\/1337512245\/portrait?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/characters\/1337512245\/portrait?tenant=tranquility&size=256","px512x512":"https:\/\/images.evetech.net\/characters\/1337512245\/portrait?tenant=tranquility&size=512","px64x64":"https:\/\/images.evetech.net\/characters\/1337512245\/portrait?tenant=tranquility&size=64"}'
  recorded_at: Sat, 14 Mar 2026 19:57:48 GMT
recorded_with: VCR 6.4.0
