---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/characters/1337512245/portrait/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"b2caff1ff8ab0f8bdc8ce19423b24e7fc1b2a7b8829d64c0e4ec652f"'
      Last-Modified:
      - Sun, 24 Nov 2019 11:02:28 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - bae30157-4da0-41db-8e10-099a386be724
    body:
      encoding: UTF-8
      string: '{"px128x128":"https:\/\/images.evetech.net\/Character\/1337512245_128.jpg","px256x256":"https:\/\/images.evetech.net\/Character\/1337512245_256.jpg","px512x512":"https:\/\/images.evetech.net\/Character\/1337512245_512.jpg","px64x64":"https:\/\/images.evetech.net\/Character\/1337512245_64.jpg"}'
  recorded_at: Sun, 24 Nov 2019 17:38:26 GMT
recorded_with: VCR 5.0.0
