---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/markets/10000002/history/?type_id=28606
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"01636947a53db63a0369aab78bbc98bae94a49cd6aa3950c29d588ae"
      Last-Modified:
      - Thu, 17 Jan 2019 11:05:44 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - ef2c3a54-3032-4fea-acc6-da237ee8ab29
    body:
      encoding: UTF-8
      string: '[{"average":745052179.61,"date":"2017-12-01","highest":758999988.59,"lowest":710123189.93,"order_count":37,"volume":37},{"average":753749212.55,"date":"2017-12-02","highest":777999996.33,"lowest":712000005.8,"order_count":54,"volume":54},{"average":759822838.19,"date":"2017-12-03","highest":770323018.89,"lowest":712661513.51,"order_count":41,"volume":41},{"average":752166060.34,"date":"2017-12-04","highest":765233011.47,"lowest":723000004.59,"order_count":30,"volume":30},{"average":751533457.26,"date":"2017-12-05","highest":765222597.96,"lowest":725223603.39,"order_count":28,"volume":28},{"average":743563745.[...]
