---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/dogma/dynamic/items/49734/1055447532024
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '53'
      X-Esi-Request-Id:
      - d21d06cb-ad3e-4547-bc8c-b4ceb631f210
    body:
      encoding: UTF-8
      string: '{"created_by":2124014413,"dogma_attributes":[{"attribute_id":64,"value":1.1507467802143097},{"attribute_id":4,"value":1.0},{"attribute_id":9,"value":40.0},{"attribute_id":204,"value":0.929143010354042},{"attribute_id":277,"value":4.0},{"attribute_id":30,"value":1.0},{"attribute_id":161,"value":5.0},{"attribute_id":162,"value":1.0},{"attribute_id":422,"value":2.0},{"attribute_id":38,"value":0.0},{"attribute_id":50,"value":39.56100009262562},{"attribute_id":182,"value":3318.0},{"attribute_id":633,"value":5.0}],"dogma_effects":[{"effect_id":11,"is_default":false},{"effect_id":16,"is_default":false},{"effect_id":7077,"is_default":false},{"effect_id":7078,"is_default":false}],"mutator_type_id":49737,"source_type_id":47911}'
  recorded_at: Sun, 27 Sep 2026 22:11:07 GMT
recorded_with: VCR 6.4.0
