---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/universe/systems/30000001/?language=en-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"37a39e7a5f5ecc07b19a3128c319f1198d035aee10052d0a21ccdd94"
      Last-Modified:
      - Mon, 01 Jul 2019 11:09:31 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '5'
      X-Esi-Request-Id:
      - 9fdb0d50-595c-4e5d-ba4c-73f52a2aa8dd
    body:
      encoding: UTF-8
      string: '{"constellation_id":20000001,"name":"Tanoo","planets":[{"asteroid_belts":[40000003],"moons":[40000004],"planet_id":40000002},{"asteroid_belts":[40000006],"planet_id":40000005},{"planet_id":40000007},{"asteroid_belts":[40000009],"moons":[40000010],"planet_id":40000008},{"moons":[40000012,40000013,40000014,40000015,40000016],"planet_id":40000011},{"asteroid_belts":[40000018],"planet_id":40000017}],"position":{"x":-88510792599980580.0,"y":42369443966878880.0,"z":-44513525346479660.0},"security_class":"B","security_status":0.8583240509033203,"star_id":40000001,"stargates":[50000056,50000057,50000058],"stations":[60012526,60014437],"system_id":30000001}'
  recorded_at: Tue, 02 Jul 2019 18:09:55 GMT
recorded_with: VCR 5.0.0
