---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/systems/30000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"f801dec473fd1f6bae55b0287b44fc2022da563f59ea428eba3b2a2f"
      Last-Modified:
      - Tue, 10 Mar 2026 11:15:56 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '6'
      X-Esi-Request-Id:
      - 3c766d13-1600-424b-be4d-0356229d039b
    body:
      encoding: UTF-8
      string: '{"constellation_id":20000001,"name":"Tanoo","planets":[{"asteroid_belts":[40000003],"moons":[40000004],"planet_id":40000002},{"asteroid_belts":[40000006],"planet_id":40000005},{"planet_id":40000007},{"asteroid_belts":[40000009],"moons":[40000010],"planet_id":40000008},{"moons":[40000012,40000013,40000014,40000015,40000016],"planet_id":40000011},{"asteroid_belts":[40000018],"planet_id":40000017}],"position":{"x":-88510792599980580.0,"y":42369443966878880.0,"z":-44513525346479660.0},"security_class":"B","security_status":0.8583240509033203,"star_id":40000001,"stargates":[50000056,50000057,50000058],"stations":[60012526,60014437],"system_id":30000001}'
  recorded_at: Tue, 10 Mar 2026 20:40:54 GMT
recorded_with: VCR 6.4.0
