---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/universe/systems/30000001/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"e3f6a76b4a1287f54966c6253f8f5d6ac6460bc43d47570331b43e0b"
      Last-Modified:
      - Tue, 01 Jan 2019 11:04:24 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '47'
      X-Esi-Request-Id:
      - 67b0699c-43fb-4345-861e-1f0638ca9ea4
    body:
      encoding: UTF-8
      string: '{"constellation_id":20000001,"name":"Tanoo","planets":[{"asteroid_belts":[40000003],"moons":[40000004],"planet_id":40000002},{"asteroid_belts":[40000006],"planet_id":40000005},{"planet_id":40000007},{"asteroid_belts":[40000009],"moons":[40000010],"planet_id":40000008},{"moons":[40000012,40000013,40000014,40000015,40000016],"planet_id":40000011},{"asteroid_belts":[40000018],"planet_id":40000017}],"position":{"x":-88510792599980580.0,"y":42369443966878880.0,"z":-44513525346479660.0},"security_class":"B","security_status":0.8583240509033203,"star_id":40000001,"stargates":[50000056,50000057,50000058],"stations":[60012526,60014437],"system_id":30000001}'
  recorded_at: Tue, 01 Jan 2019 21:03:13 GMT
recorded_with: VCR 4.0.0
