---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/systems/30000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - b8bffbd9-39a5-46b8-915e-0e75b8a68ab5
    body:
      encoding: UTF-8
      string: '{"constellation_id":20000001,"name":"Tanoo","planets":[{"asteroid_belts":[40000003],"moons":[40000004],"planet_id":40000002},{"asteroid_belts":[40000006],"planet_id":40000005},{"planet_id":40000007},{"asteroid_belts":[40000009],"moons":[40000010],"planet_id":40000008},{"moons":[40000012,40000013,40000014,40000015,40000016],"planet_id":40000011},{"asteroid_belts":[40000018],"planet_id":40000017}],"position":{"x":-88510792599980580.0,"y":42369443966878880.0,"z":-44513525346479660.0},"security_class":"B","security_status":0.8583240509033203,"star_id":40000001,"stargates":[50000056,50000057,50000058],"stations":[60012526,60014437],"system_id":30000001}'
  recorded_at: Mon, 28 Sep 2026 15:10:26 GMT
recorded_with: VCR 6.4.0
