---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/constellations/20000001/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"5c9218218aca123ef8c106f6607bfe8e6e086d2fc2b972bbd8ff03d2"
      Last-Modified:
      - Tue, 15 Jan 2019 11:12:49 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '49'
      X-Esi-Request-Id:
      - 82699fa0-5a58-47d9-b6fb-fb51e3ae8617
    body:
      encoding: UTF-8
      string: '{"constellation_id":20000001,"name":"San Matar","position":{"x":-94046559700991340.0,"y":49520153153798850.0,"z":-42738731818401970.0},"region_id":10000001,"systems":[30000001,30000002,30000003,30000004,30000005,30000006,30000007,30000008]}'
  recorded_at: Tue, 15 Jan 2019 23:24:11 GMT
recorded_with: VCR 4.0.0
