---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/constellations/20000001/?datasource=tranquility&language=en-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"37a39e7a5f5ecc07b19a3128c319f1198d035aee10052d0a21ccdd94"
      Last-Modified:
      - Mon, 01 Jul 2019 11:09:31 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '32'
      X-Esi-Request-Id:
      - 0426ff83-59df-4818-a7cc-1f7a5d8fc6dd
    body:
      encoding: UTF-8
      string: '{"constellation_id":20000001,"name":"San Matar","position":{"x":-94046559700991340.0,"y":49520153153798850.0,"z":-42738731818401970.0},"region_id":10000001,"systems":[30000001,30000002,30000003,30000004,30000005,30000006,30000007,30000008]}'
  recorded_at: Tue, 02 Jul 2019 14:22:28 GMT
recorded_with: VCR 5.0.0
