---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/constellations/20000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '39'
      X-Esi-Request-Id:
      - 469219a1-5982-4394-8f33-b119b0cfe6c8
    body:
      encoding: UTF-8
      string: '{"constellation_id":20000001,"name":"San Matar","position":{"x":-94046559700991340.0,"y":49520153153798850.0,"z":-42738731818401970.0},"region_id":10000001,"systems":[30000001,30000002,30000003,30000004,30000005,30000006,30000007,30000008]}'
  recorded_at: Mon, 28 Sep 2026 15:10:21 GMT
recorded_with: VCR 6.4.0
