---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/stars/40000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"913b3f4e2ed35371bed5a2ddb54a29f6451d6062f85c3490634a33b0"'
      Last-Modified:
      - Sun, 27 Sep 2026 11:03:00 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '36'
      X-Esi-Request-Id:
      - faa3924a-251f-4ab8-87d1-e6382e668443
    body:
      encoding: UTF-8
      string: '{"age":14262808228,"luminosity":0.01575000025331974,"name":"Tanoo -
        Star","radius":63350000,"solar_system_id":30000001,"spectral_class":"K2 V","temperature":4567,"type_id":45041}'
  recorded_at: Mon, 28 Sep 2026 15:10:24 GMT
recorded_with: VCR 6.4.0
