---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/stars/40000001/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"2e28835f91024608719726b655591d531125a023e122859d174923d5"
      Last-Modified:
      - Wed, 21 Nov 2018 11:06:45 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '32'
      X-Esi-Request-Id:
      - f86c06a6-ab12-4d5a-b752-83291a840d17
    body:
      encoding: UTF-8
      string: '{"age":14262808228,"luminosity":0.01575000025331974,"name":"Tanoo -
        Star","radius":126700000,"solar_system_id":30000001,"spectral_class":"K2 V","temperature":4567,"type_id":45041}'
  recorded_at: Wed, 21 Nov 2018 16:21:20 GMT
recorded_with: VCR 4.0.0
