---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/skills
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - W/"e7b3fa8814e0332e4425a39a5c21975f332ddb0b87e7205a3dd525358084485a"
      Last-Modified:
      - Sun, 22 Feb 2026 18:27:24 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Ratelimit-Group:
      - char-detail
      X-Ratelimit-Limit:
      - 600/15m
      X-Ratelimit-Remaining:
      - '596'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"skills":[{"skill_id":2403,"trained_skill_level":3,"active_skill_level":3,"skillpoints_in_skill":40000},{"skill_id":2406,"trained_skill_level":4,"active_skill_level":4,"skillpoints_in_skill":135765},{"skill_id":2495,"trained_skill_level":1,"active_skill_level":1,"skillpoints_in_skill":1000},{"skill_id":2505,"trained_skill_level":1,"active_skill_level":1,"skillpoints_in_skill":1000},{"skill_id":3184,"trained_skill_level":5,"active_skill_level":5,"skillpoints_in_skill":1024000},{"skill_id":3300,"trained_skill_level":5,"active_skill_level":5,"skillpoints_in_skill":256000},{"skill_id":3301,"tra[...]
