---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v3/alliances/99005443/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6780e53a01c7d9715b5f445126c4f2c137da4be79e4debe541ce3ab2"'
      Last-Modified:
      - Sat, 11 Apr 2020 22:41:04 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '44'
      X-Esi-Request-Id:
      - 8728a788-ace7-432f-90bf-1c3104a4152d
    body:
      encoding: UTF-8
      string: '{"creator_corporation_id":98306624,"creator_id":94195096,"date_founded":"2015-05-03T19:45:17Z","executor_corporation_id":98306624,"name":"Kids
        With Guns Alliance","ticker":"-KWG-"}'
  recorded_at: Sat, 11 Apr 2020 23:19:16 GMT
recorded_with: VCR 5.1.0
