---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/alliances/99008595
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"5eedb79d062aad2bed4e103e149ebf728be9f2d69b63ecf186f45c1d"'
      Last-Modified:
      - Sun, 28 Dec 2025 18:58:23 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '20'
      X-Esi-Request-Id:
      - ab376bd9-2f4f-4a7f-809b-7de40de4ef26
    body:
      encoding: UTF-8
      string: '{"creator_corporation_id":98573850,"creator_id":95078959,"date_founded":"2018-09-11T19:55:16Z","executor_corporation_id":98565696,"name":"The
        Dead Parrots","ticker":"TDP"}'
  recorded_at: Sun, 28 Dec 2025 19:22:40 GMT
recorded_with: VCR 6.4.0
