---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v3/alliances/99005443/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 18 Feb 2018 20:43:22 GMT
      X-Esi-Error-Limit-Remain:
      - '98'
      X-Esi-Error-Limit-Reset:
      - '22'
    body:
      encoding: UTF-8
      string: '{"name":"Kids With Guns Alliance","creator_id":94195096,"creator_corporation_id":98306624,"ticker":"-KWG-","date_founded":"2015-05-03T19:45:17Z","executor_corporation_id":98306624}'
  recorded_at: Sun, 18 Feb 2018 21:35:38 GMT
recorded_with: VCR 4.0.0
