---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/alliances/99008595/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"5eedb79d062aad2bed4e103e149ebf728be9f2d69b63ecf186f45c1d"'
      Last-Modified:
      - Thu, 02 Jan 2025 09:48:58 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '39'
      X-Esi-Request-Id:
      - 057343bb-35c2-4d43-9ac2-851f5b4b87b3
    body:
      encoding: UTF-8
      string: '{"creator_corporation_id":98573850,"creator_id":95078959,"date_founded":"2018-09-11T19:55:16Z","executor_corporation_id":98565696,"name":"The
        Dead Parrots","ticker":"TDP"}'
  recorded_at: Thu, 02 Jan 2025 10:02:21 GMT
recorded_with: VCR 6.3.1
