---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/alliances/99008595
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - W/"59a0ed33022941d1509d78106e28e5624a950ee91cde4dea41008025e30a550e"
      Last-Modified:
      - Mon, 28 Sep 2026 15:54:25 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '55'
    body:
      encoding: UTF-8
      string: '{"creator_corporation_id":98573850,"creator_id":95078959,"date_founded":"2018-09-11T19:55:16Z","executor_corporation_id":98565696,"name":"The
        Dead Parrots","ticker":"TDP"}

        '
  recorded_at: Mon, 28 Sep 2026 15:57:05 GMT
recorded_with: VCR 6.4.0
