---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v3/alliances/99005443/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6780e53a01c7d9715b5f445126c4f2c137da4be79e4debe541ce3ab2"'
      Last-Modified:
      - Wed, 19 Dec 2018 21:19:28 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '4'
      X-Esi-Request-Id:
      - a3dd66f6-953e-46a3-a13e-2f87da9b424c
    body:
      encoding: UTF-8
      string: '{"creator_corporation_id":98306624,"creator_id":94195096,"date_founded":"2015-05-03T19:45:17Z","executor_corporation_id":98306624,"name":"Kids
        With Guns Alliance","ticker":"-KWG-"}'
  recorded_at: Wed, 19 Dec 2018 21:38:56 GMT
recorded_with: VCR 4.0.0
