---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/corporations/98468592
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"ffbbcb2cd0c4ae79252e8244cd51b12a1d1810cbcd954813ccfa2467"'
      Last-Modified:
      - Sat, 03 Jan 2026 23:44:04 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '41'
      X-Esi-Request-Id:
      - 2ed41162-8a52-4a9c-8d87-5d54f94f42d4
    body:
      encoding: UTF-8
      string: '{"ceo_id":2114256809,"creator_id":1721864142,"date_founded":"2016-07-11T14:22:17Z","description":"u''<font
        size=\"12\" color=\"#bfffffff\">BUBIC est malheureusement en hibernation !<br><br>En
        attendant un eventuel r\\xe9veil, retrouvez les anciens membres Bubic chez
        les chevres !   <\/font><font size=\"12\" color=\"#ffd98d00\"><a href=\"showinfo:2\/\/98730717\">Goat
        to Go<\/a><\/font><font size=\"12\" color=\"#bfffffff\"> <br><br>Bon jeu et
        \\xe0 tr\\xe8s vite ... o7<\/font>''","home_station_id":60011893,"member_count":12,"name":"Bullshit
        Bingo Club","shares":1000,"tax_rate":0.10000000149011612,"ticker":"BUBIC","url":"https:\/\/zkillboard.com\/corporation\/98468592\/"}'
  recorded_at: Sun, 04 Jan 2026 00:37:19 GMT
recorded_with: VCR 6.4.0
