---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/corporations/98468592/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"046430260be73e5d7ad3a9251954310bd547498eeb38f99e8d305796"'
      Last-Modified:
      - Tue, 15 Jan 2019 17:23:20 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '57'
      X-Esi-Request-Id:
      - 7b4efc74-36be-48cf-9774-035879e2d98c
    body:
      encoding: UTF-8
      string: '{"alliance_id":99007916,"ceo_id":1721864142,"creator_id":1721864142,"date_founded":"2016-07-11T14:22:17Z","description":"","home_station_id":60011893,"member_count":166,"name":"Bullshit
        Bingo Club","shares":1000,"tax_rate":0.1,"ticker":"BUBIC","url":"http:\/\/","war_eligible":true}'
  recorded_at: Tue, 15 Jan 2019 17:36:03 GMT
recorded_with: VCR 4.0.0
