---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v4/corporations/98468592/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"9f1b3761e93aba36ceaea6328e62031ec777317c70b7439b665d93fe"'
      Last-Modified:
      - Mon, 24 Dec 2018 19:35:57 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '6'
      X-Esi-Request-Id:
      - b301e312-ddb9-4d34-b24d-ea545b9b331d
    body:
      encoding: UTF-8
      string: '{"alliance_id":99007916,"ceo_id":1721864142,"creator_id":1721864142,"date_founded":"2016-07-11T14:22:17Z","description":"","home_station_id":60011893,"member_count":155,"name":"Bullshit
        Bingo Club","shares":1000,"tax_rate":0.1,"ticker":"BUBIC","url":"http:\/\/","war_eligible":true}'
  recorded_at: Mon, 24 Dec 2018 20:25:52 GMT
recorded_with: VCR 4.0.0
