---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/corporations/98468592
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2026-08-18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Etag:
      - W/"c545bd504007b59757a4584f735f47fcb8aadf18dc3ad96264191088f0ab1339"
      Last-Modified:
      - Mon, 28 Sep 2026 15:10:16 GMT
      X-Compatibility-Date:
      - '2026-07-21'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '44'
    body:
      encoding: UTF-8
      string: '{"state":"active","type":"player_owned","name":"Bullshit Bingo Club","ticker":"BUBIC","description":"u''<font
        size=\"12\" color=\"#bfffffff\">BUBIC est malheureusement en hibernation !<br><br>En
        attendant un eventuel r\\xe9veil, retrouvez les anciens membres Bubic chez
        les chevres !   </font><font size=\"12\" color=\"#ffd98d00\"><a href=\"showinfo:2//98730717\">Goat
        to Go</a></font><font size=\"12\" color=\"#bfffffff\"> <br><br>Bon jeu et
        \\xe0 tr\\xe8s vite ... o7</font>''","url":"https://zkillboard.com/corporation/98468592/","palette":{"main_color":"#000000"},"date_founded":"2016-07-11T14:22:17Z","ceo_id":2114256809,"creator_id":1721864142,"home_station_id":60011893,"member_count":12,"tax_rates":{"isk":10.0,"loyalty_point":10.0},"shares":1000,"war_eligible":false,"friendly_fire":"legal"}

        '
  recorded_at: Mon, 28 Sep 2026 15:10:16 GMT
recorded_with: VCR 6.4.0
