---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/ancestries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"d53e06315fe6f15f4dd47da86f16b3cb51977abc22701227d931f03b"
      Last-Modified:
      - Thu, 01 Jan 2026 11:01:47 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '3'
      X-Esi-Request-Id:
      - cdf469b4-b219-44f5-8229-10ecc10c40fe
    body:
      encoding: UTF-8
      string: '[{"bloodline_id":7,"description":"The Gallente prize political activism
        more so than other Empires. Many devote their efforts towards one or more
        causes that suit their ambitions. Activists understand that things will never
        change for the better unless someone has the courage to fight the good fight.","icon_id":1653,"id":13,"name":"Activists","short_description":"Making
        the universe a better place, one fight at a time."},{"bloodline_id":9,"description":"Genetic
        engineering has through the centuries transformed Jovian society in every
        aspect imaginable. Many Jovians believe that enough has been done. The Unsullied
        is a group of Jovians that have rejected further generic experiments and instead
        adopt conventional methods to deal with sickness and old age. They are advocates
        of cyber-implants and want to use [...]
