---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/bloodlines
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"d53e06315fe6f15f4dd47da86f16b3cb51977abc22701227d931f03b"
      Last-Modified:
      - Thu, 01 Jan 2026 11:01:47 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '49'
      X-Esi-Request-Id:
      - 939e18dd-42b6-4537-b94a-3b18fb5e51fe
    body:
      encoding: UTF-8
      string: '[{"bloodline_id":5,"charisma":3,"corporation_id":1000066,"description":"True
        Amarrians are proud and supercilious, with a great sense of tradition and
        ancestry. They are considered arrogant and tyrannical by most others. The
        Empire''s defeat at the hands of the mysterious Jovians, and the Minmatar
        uprising that followed, left an indelible mark on Amarrian culture. This double
        failure, a turning point in their history, has shaped an entire generation
        of policy and philosophy among the imperial elite.","intelligence":7,"memory":6,"name":"Amarr","perception":4,"race_id":4,"ship_type_id":596,"willpower":10},{"bloodline_id":10,"charisma":7,"corporation_id":1000178,"description":"The
        different branches of Jovians that exist are not the result of variations
        in geographical or climatic differences, but rather that of genetic engineering
        through the centuries. The Modifiers are the enthusiasts of the Jovian family.
        They are curious and constantly willing to try or experience something new
        and fresh. Modifiers have lower life expectancy that other Jovians and a[...]
