---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/universe/factions/?datasource=tranquility&language=en-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"37a39e7a5f5ecc07b19a3128c319f1198d035aee10052d0a21ccdd94"
      Last-Modified:
      - Mon, 01 Jul 2019 11:09:31 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - 55741fec-74a1-44b7-9c09-8d5599426538
    body:
      encoding: UTF-8
      string: '[{"corporation_id":1000035,"description":"The Caldari State is ruled
        by several mega-corporations. There is no central government to speak of -
        all territories within the State are owned and ruled by corporations. Duty
        and discipline are required traits in Caldari citizens, plus unquestioning
        loyalty to the corporation they live to serve. The corporations compete aggressively
        amongst themselves and with companies outside the State, resulting in a highly
        capitalistic society.","faction_id":500001,"is_unique":true,"militia_corporation_id":1000180,"name":"Caldari
        State","size_factor":5.0,"solar_system_id":30000145,"station_count":1503,"station_system_count":503},{"corporation_id":1000051,"description":"The
        Minmatar Republic was formed over a century ago when the Minmatar threw out
        their Amarrian overlords in what is now known as the Minmatar Rebellion. In
        this the Minmatar had the support of the Gallente Federation, and to this
        day the two nations remain close allies. Yet, only a quarter of the Minmatar
        people reside within the Republic. The rest are scattered around the star
        cluster, including a larg[...]
