---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/factions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"d53e06315fe6f15f4dd47da86f16b3cb51977abc22701227d931f03b"
      Last-Modified:
      - Thu, 01 Jan 2026 11:01:47 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '31'
      X-Esi-Request-Id:
      - a3501e17-04f2-4a8b-a5a6-6805c31c09ca
    body:
      encoding: UTF-8
      string: '[{"corporation_id":1000084,"description":"The largest of the five main
        empires, the Amarr Empire is a sprawling patch-work of feudal-like provinces
        held together by the might of the emperor. Religion has always played a big
        part in Amarrian politics and the Amarrians believe they are the rightful
        masters of the world, souring their relations with their neighbours. Another
        source of ill-feelings on part of the other empires is the fact that the Amarrians
        embrace slavery.","faction_id":500003,"is_unique":true,"militia_corporation_id":1000179,"name":"Amarr
        Empire","size_factor":5.0,"solar_system_id":30002187,"station_count":1032,"station_system_count":508},{"corporation_id":1000127,"description":"Formed
        by two former members of the Caldari Navy, the pair go by the names Fatal
        and the Rabbit, the Guristas are a constant thorn in the side of the Caldari
        State. The Guristas are traditional pirates in the sense that their operation
        is not based around some creed or ideology, but rather a plain and simple
        greed. The Guristas have bases close to Caldari space and from them they embark
        on daring raids,[...]
