---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/races
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"d53e06315fe6f15f4dd47da86f16b3cb51977abc22701227d931f03b"
      Last-Modified:
      - Thu, 01 Jan 2026 11:01:47 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '44'
      X-Esi-Request-Id:
      - 4cd7fc66-7920-414a-a2fe-a503582ad0d8
    body:
      encoding: UTF-8
      string: '[{"alliance_id":500001,"description":"Founded on the tenets of patriotism
        and hard work that carried its ancestors through hardships on an inhospitable
        homeworld, the Caldari State is today a corporate dictatorship, led by rulers
        who are determined to see it return to the meritocratic ideals of old. Ruthless
        and efficient in the boardroom as well as on the battlefield, the Caldari
        are living emblems of strength, persistence, and dignity.","name":"Caldari","race_id":1},{"alliance_id":500002,"description":"Once
        a thriving tribal civilization, the Minmatar were enslaved by the Amarr Empire
        for more than 700 years until a massive rebellion freed most, but not all,
        of those held in servitude. The Minmatar people today are resilient, ingenious,
        and hard-working. Many of them believe that democracy, though it has served
        them well for a long time, can never restore what was taken from them so long
        ago. For this reaso[...]
