---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/universe/system_kills/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"7be9f52bd359cad5873a5a83a4299f80d048dce99ba230d9104346c3"'
      Last-Modified:
      - Wed, 17 Oct 2018 16:34:50 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '7'
      X-Esi-Request-Id:
      - 939450f6-3b1f-4c88-bca0-7acbee5276c9
    body:
      encoding: UTF-8
      string: '[{"npc_kills":231,"pod_kills":0,"ship_kills":0,"system_id":30001746},{"npc_kills":18,"pod_kills":0,"ship_kills":0,"system_id":30002007},{"npc_kills":261,"pod_kills":0,"ship_kills":0,"system_id":30001414},{"npc_kills":0,"pod_kills":1,"ship_kills":1,"system_id":30001437},{"npc_kills":125,"pod_kills":0,"ship_kills":0,"system_id":30002648},{"npc_kills":1155,"pod_kills":0,"ship_kills":0,"system_id":30001105},{"npc_kills":1520,"pod_kills":0,"ship_kills":0,"system_id":30004377},{"npc_kills":110,"pod_kills":0,"ship_kills":0,"system_id":30004354},{"npc_kills":22[...]
