---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/universe/system_kills/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"2075c203d2a11627ab68b039a61e1816b052e9c0016eca5f08b6a35e"'
      Last-Modified:
      - Tue, 01 Jan 2019 21:40:03 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '32'
      X-Esi-Request-Id:
      - 27ab7073-385d-49f7-9c77-c362367aab7b
    body:
      encoding: UTF-8
      string: '[{"npc_kills":89,"pod_kills":0,"ship_kills":5,"system_id":30005327},{"npc_kills":26,"pod_kills":0,"ship_kills":0,"system_id":30004308},{"npc_kills":69,"pod_kills":1,"ship_kills":2,"system_id":30004640},{"npc_kills":144,"pod_kills":4,"ship_kills":5,"system_id":30003504},{"npc_kills":28,"pod_kills":0,"ship_kills":0,"system_id":30003521},{"npc_kills":162,"pod_kills":0,"ship_kills":0,"system_id":30004191},{"npc_kills":401,"pod_kills":0,"ship_kills":0,"system_id":30003621},{"npc_kills":42,"pod_kills":0,"ship_kills":1,"system_id":30002270},{"npc_kills":99,"p[...]
