---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/1337512245/notifications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"2c292b46a5600f3d99893a75a5387a150666c182a27f886abd96658c"'
      Last-Modified:
      - Sat, 14 Mar 2026 17:21:05 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Request-Id:
      - b95088fb-89a5-4879-8b0b-e9aec6d06181
      X-Ratelimit-Group:
      - char-notification
      X-Ratelimit-Limit:
      - 15/15m
      X-Ratelimit-Remaining:
      - '11'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"notification_id":2156021212,"sender_id":319898237,"sender_type":"character","text":"corpID:
        98565696\n","timestamp":"2025-04-24T19:02:00Z","type":"CorpKicked"},{"notification_id":2153028381,"sender_id":98565696,"sender_type":"corporation","text":"corporation_id:
        98565696\ncreator_id: 319898237\ngoal_id: 283242298288240676072281760154986297950\ngoal_name:
        ''Ore: Compressed Viscous Pyroxeres''\n","timestamp":"2025-04-19T17:50:00Z","type":"CorporationGoalCompleted"},{"notification_id":2149551562,"sender_id":98565696,"sender_type":"corporation","text":"closer_id:
        319898237\ncorporation_id: 98565696\ncreator_id: 3198982[...]
