---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/characters/1337512245/mail/376045681/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - DELETE,GET,HEAD,OPTIONS,PUT
      Etag:
      - '"90dba7f7a6e60bfe8527b9f5112b9ca588c8f57d01415717be525a91"'
      Last-Modified:
      - Sat, 18 Jan 2020 00:11:13 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '47'
      X-Esi-Request-Id:
      - 2a47171a-0a1e-4ca9-94ef-ee7c74530979
    body:
      encoding: UTF-8
      string: '{"body":"<font size=\"12\" color=\"#bfffffff\">moving<\/font>","from":1208274826,"labels":[4],"read":true,"recipients":[{"recipient_id":98134807,"recipient_type":"corporation"}],"subject":"moving","timestamp":"2019-06-10T07:50:00Z"}'
  recorded_at: Sat, 18 Jan 2020 00:11:19 GMT
recorded_with: VCR 5.0.0
