---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v3/characters/90729314/mail/labels/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6aac63dafa81b592eba22fe0d7bf12a2c11bfd5b054aa78d3a3a5cde"'
      Last-Modified:
      - Thu, 12 Dec 2019 10:42:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '43'
      X-Esi-Request-Id:
      - d8476d2a-5cd8-4a65-9c1e-0aea6cf643bf
    body:
      encoding: UTF-8
      string: '{"labels":[{"color":"#ffffff","label_id":1,"name":"Inbox","unread_count":1},{"color":"#ffffff","label_id":2,"name":"Sent"},{"color":"#ffffff","label_id":4,"name":"[Corp]","unread_count":0},{"color":"#ffffff","label_id":8,"name":"[Alliance]","unread_count":0}],"total_unread_count":1}'
  recorded_at: Thu, 12 Dec 2019 10:42:17 GMT
recorded_with: VCR 5.0.0
