---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/graphics/20481/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"7261e48bc37b9e927b4f7be5b3f5c0bdc44a4b4a3e32c4b86f4dbe8f"'
      Last-Modified:
      - Wed, 03 Oct 2018 11:15:20 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '34'
      X-Esi-Request-Id:
      - a50848d7-a335-44ef-84c0-bd15f787a410
    body:
      encoding: UTF-8
      string: '{"graphic_id":20481,"sof_dna":"ai1_t1:tash-murkon:amarr","sof_fation_name":"tash-murkon","sof_hull_name":"ai1_t1","sof_race_name":"amarr"}'
  recorded_at: Thu, 04 Oct 2018 12:48:26 GMT
recorded_with: VCR 4.0.0
